main#profile {
  div.profile-top {
    // background-color: #f9eff9;
    padding: 16px 32px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    div.profile-header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;

      .profile-photo {
        img {
          width: 150px;
          height: 150px;
        }
      }

      .profile-username-action-btns {
        display: flex;
        flex-direction: column;

        .profile-username {
          font-size: 1.6rem;
          margin: 0;
        }

        .profile-action-btns {
          button {
            margin-bottom: 0px;
            background-color: #EFEFEF;
            color: $black;

            &:hover {
              background-color: #d7d4d4;
            }
          }
        }
      }
    }

    div.info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .profile-name {
        font-weight: bold;
      }
    }

    .followers-following {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .ff-text {
          font-size: 0.8rem;
          color: $dark-grey;
        }

        .ff-count {
          font-size: 1.5rem;
        }
      }
    }
  }

  .toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;

    .toggle-feed-view {
      background-color: $white-grey;
      width: fit-content;
      padding: 8px 16px;
      border-radius: 8px;
      border: 1px solid $black;

      button.active {
        background-color: $green;
      }

      button {
        background-color: $white;
        border: 1px solid $black;
        margin-bottom: 0px;

        &:hover {
          background-color: $green;
        }
      }
    }
  }

  .feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 2vw;

    .feed-post {
      background-color: $posts;
      height: 30vw;
      width: 30vw;

      min-height: 100px;
      min-width: 100px;

      border-radius: 8px;
      border: 1px solid $black;

      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  .achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .award {
      display: flex;
      align-items: center;
      gap: 12px;

      border: 1px solid $black;
      border-radius: 8px;

      width: max-content;
      height: auto;

      padding: 8px 16px;
      background-color: $posts;

      .award-img {
        background-color: lightblue;
        width: 100px;
        height: 100px;
        border-radius: 8px;
        border: 1px solid $black;
      }

      .award-info {
        .award-name {
          font-weight: 700;
        }

        .award-date {
          font-weight: 300;
        }
      }
    }
  }

  .toggle-posts {
     display: none;
  }

  // Modal styles
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;

    .close-btn {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      font-size: 3rem;
    }

    @include post(100%, 100%);
    @include form();

  }
}
}

@media only screen and (max-width: 400px) {
  main#profile {
    div.profile-top {
      padding: 12px 16px;

      div.profile-header {
        gap: 16px;
    
        .profile-photo {
          img {
            width: 80px;
            height: 80px;
          }
        }
    
        .profile-username-action-btns {
          .profile-username {
            font-size: 1.3rem;
          }
        }
      }
    }

    .achievements {
      .award {
        flex-direction: column;

        .award-img {
          width: 100%;
        }

      }
    }
  }
}
