main {
  padding: 12px 16px;
}

.view-tennis-sessions-btn {
  margin-top: 20px;
  margin-bottom: 48px;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #a992fa;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header h1 {
  margin: 0;
}

button,
.btn {
  margin-bottom: 16px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
}

button:hover,
.btn:hover {
  cursor: pointer;
  background-color: #207025;
}

.tennis-btn {
  margin-left: 0;
}

a {
  color: #000000;
}

.auth {
  text-align: right;
}

/* .auth-btns {
  margin-top: 24px;
} */
.login-btns button {
  width: 100px;
}

@media only screen and (max-width: 1023px) {
  .login-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main#profile div.profile-top {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main#profile div.profile-top div.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
main#profile div.profile-top div.profile-header .profile-photo img {
  width: 150px;
  height: 150px;
}
main#profile div.profile-top div.profile-header .profile-username-action-btns {
  display: flex;
  flex-direction: column;
}
main#profile div.profile-top div.profile-header .profile-username-action-btns .profile-username {
  font-size: 1.6rem;
  margin: 0;
}
main#profile div.profile-top div.profile-header .profile-username-action-btns .profile-action-btns button {
  margin-bottom: 0px;
  background-color: #EFEFEF;
  color: #000000;
}
main#profile div.profile-top div.profile-header .profile-username-action-btns .profile-action-btns button:hover {
  background-color: #d7d4d4;
}
main#profile div.profile-top div.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main#profile div.profile-top div.info .profile-name {
  font-weight: bold;
}
main#profile div.profile-top .followers-following {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
main#profile div.profile-top .followers-following div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main#profile div.profile-top .followers-following div .ff-text {
  font-size: 0.8rem;
  color: #3D3D3D;
}
main#profile div.profile-top .followers-following div .ff-count {
  font-size: 1.5rem;
}
main#profile .toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}
main#profile .toggle-container .toggle-feed-view {
  background-color: #8F8E8E;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #000000;
}
main#profile .toggle-container .toggle-feed-view button.active {
  background-color: #32ca6f;
}
main#profile .toggle-container .toggle-feed-view button {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  margin-bottom: 0px;
}
main#profile .toggle-container .toggle-feed-view button:hover {
  background-color: #32ca6f;
}
main#profile .feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 2vw;
}
main#profile .feed .feed-post {
  background-color: #F2F2F2;
  height: 30vw;
  width: 30vw;
  min-height: 100px;
  min-width: 100px;
  border-radius: 8px;
  border: 1px solid #000000;
}
main#profile .feed .feed-post img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
main#profile .achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
main#profile .achievements .award {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #000000;
  border-radius: 8px;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 8px 16px;
  background-color: #F2F2F2;
}
main#profile .achievements .award .award-img {
  background-color: lightblue;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #000000;
}
main#profile .achievements .award .award-info .award-name {
  font-weight: 700;
}
main#profile .achievements .award .award-info .award-date {
  font-weight: 300;
}
main#profile .toggle-posts {
  display: none;
}
main#profile .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
main#profile .modal .modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}
main#profile .modal .modal-content .close-btn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 3rem;
}
main#profile .modal .modal-content .post {
  border-radius: 8px;
  border: 1px solid #000000;
  width: 100%;
  padding-bottom: 12px;
}
main#profile .modal .modal-content .post .post-img {
  width: 100%;
  min-width: 300px;
  height: 30vw;
  min-height: 200px;
  background-color: lightblue;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #000000;
}
main#profile .modal .modal-content .post .post-img img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
main#profile .modal .modal-content .post .post-btns {
  display: flex;
  gap: 12px;
  padding: 8px;
}
main#profile .modal .modal-content .post .post-btns button {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
}
main#profile .modal .modal-content .post .post-btns button img {
  width: 20px;
  height: 20px;
}
main#profile .modal .modal-content .post .post-likes, main#profile .modal .modal-content .post .post-caption,
main#profile .modal .modal-content .post .post-comments, main#profile .modal .modal-content .post .post-date {
  padding: 0 8px;
}
main#profile .modal .modal-content .post .post-caption {
  margin: 12px 0;
}
main#profile .modal .modal-content .post .post-caption .username {
  font-weight: 700;
}
main#profile .modal .modal-content .post .post-comments {
  font-size: 0.9rem;
}
main#profile .modal .modal-content .post .post-comments:hover {
  cursor: pointer;
}
main#profile .modal .modal-content .post .post-date {
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 8px;
}

@media only screen and (max-width: 400px) {
  main#profile div.profile-top {
    padding: 12px 16px;
  }
  main#profile div.profile-top div.profile-header {
    gap: 16px;
  }
  main#profile div.profile-top div.profile-header .profile-photo img {
    width: 80px;
    height: 80px;
  }
  main#profile div.profile-top div.profile-header .profile-username-action-btns .profile-username {
    font-size: 1.3rem;
  }
  main#profile .achievements .award {
    flex-direction: column;
  }
  main#profile .achievements .award .award-img {
    width: 100%;
  }
}
main#feed .posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
main#feed .posts .post {
  border-radius: 8px;
  border: 1px solid #000000;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 12px;
}
main#feed .posts .post .post-img {
  width: 45vw;
  min-width: 300px;
  height: 30vw;
  min-height: 200px;
  background-color: lightblue;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #000000;
}
main#feed .posts .post .post-img img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
main#feed .posts .post .post-btns {
  display: flex;
  gap: 12px;
  padding: 8px;
}
main#feed .posts .post .post-btns button {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
}
main#feed .posts .post .post-btns button img {
  width: 20px;
  height: 20px;
}
main#feed .posts .post .post-likes, main#feed .posts .post .post-caption,
main#feed .posts .post .post-comments, main#feed .posts .post .post-date {
  padding: 0 8px;
}
main#feed .posts .post .post-caption {
  margin: 12px 0;
}
main#feed .posts .post .post-caption .username {
  font-weight: 700;
}
main#feed .posts .post .post-comments {
  font-size: 0.9rem;
}
main#feed .posts .post .post-comments:hover {
  cursor: pointer;
}
main#feed .posts .post .post-date {
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 8px;
}/*# sourceMappingURL=styles.css.map */