main {
  padding: 12px 16px;
}

.view-tennis-sessions-btn {
  margin-top: 20px;
  margin-bottom: 48px;
}

main#profile div.profile-top {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main#profile div.profile-top div.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
main#profile div.profile-top div.profile-header .profile-photo {
  width: 10vw;
  height: 10vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  border: 1px solid #000000;
}
main#profile div.profile-top div.profile-header .profile-photo img {
  width: 10vw;
  height: 10vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 80px;
  min-height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
main#profile div.profile-top div.profile-header .profile-username-action-btns {
  display: flex;
  flex-direction: column;
}
main#profile div.profile-top div.profile-header .profile-username-action-btns .profile-username {
  font-size: 1.6rem;
  margin: 0;
}
main#profile div.profile-top div.profile-header .profile-username-action-btns .profile-action-btns button {
  margin-bottom: 0px;
  background-color: #EFEFEF;
  color: #000000;
}
main#profile div.profile-top div.profile-header .profile-username-action-btns .profile-action-btns button:hover {
  background-color: #d7d4d4;
}
main#profile div.profile-top div.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main#profile div.profile-top div.info .profile-name {
  font-weight: bold;
}
main#profile div.profile-top .followers-following {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
main#profile div.profile-top .followers-following div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main#profile div.profile-top .followers-following div .ff-text {
  font-size: 0.8rem;
  color: #3D3D3D;
}
main#profile div.profile-top .followers-following div .ff-count {
  font-size: 1.5rem;
}
main#profile .toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}
main#profile .toggle-container .toggle-feed-view {
  background-color: #8F8E8E;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #000000;
}
main#profile .toggle-container .toggle-feed-view button.active {
  background-color: #32ca6f;
}
main#profile .toggle-container .toggle-feed-view button {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  margin-bottom: 0px;
}
main#profile .toggle-container .toggle-feed-view button:hover {
  background-color: #32ca6f;
}
main#profile .feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 2vw;
}
main#profile .feed .feed-post {
  background-color: #F2F2F2;
  height: 30vw;
  width: 30vw;
  min-height: 100px;
  min-width: 100px;
  border-radius: 8px;
  border: 1px solid #000000;
}
main#profile .feed .feed-post img {
  width: 30vw;
  height: 30vw;
  min-height: 100px;
  min-width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
main#profile .achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
main#profile .achievements .award {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #000000;
  border-radius: 8px;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 8px 16px;
  background-color: #F2F2F2;
}
main#profile .achievements .award .award-img {
  background-color: lightblue;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #000000;
}
main#profile .achievements .award .award-info .award-name {
  font-weight: 700;
}
main#profile .achievements .award .award-info .award-date {
  font-weight: 300;
}
main#profile .toggle-posts {
  display: none;
}
main#profile .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 2;
}
main#profile .modal .modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}
main#profile .modal .modal-content .close-btn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 3rem;
}
main#profile .modal .modal-content .post {
  border-radius: 8px;
  border: 1px solid #000000;
  width: 100%;
  min-width: 300px;
  padding-bottom: 12px;
}
main#profile .modal .modal-content .post .post-img {
  width: 100%;
  min-width: 300px;
  height: 30vw;
  min-height: 200px;
  background-color: lightblue;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #000000;
}
main#profile .modal .modal-content .post .post-img img {
  width: 100%;
  min-width: 300px;
  height: inherit;
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
main#profile .modal .modal-content .post .post-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
}
main#profile .modal .modal-content .post .post-btns .interactive-btns {
  display: flex;
  gap: 12px;
}
main#profile .modal .modal-content .post .post-btns .post-action-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main#profile .modal .modal-content .post .post-btns .post-action-group .post-action-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 8px;
  z-index: 1;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 24px;
}
main#profile .modal .modal-content .post .post-btns .post-action-group .post-action-btns span {
  width: 100px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
main#profile .modal .modal-content .post .post-btns .post-action-group .post-action-btns span:hover {
  cursor: pointer;
  border-bottom: 1px solid #000000;
}
main#profile .modal .modal-content .post .post-btns .post-action-group .hide-action-btns {
  visibility: hidden;
}
main#profile .modal .modal-content .post .post-btns button {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
}
main#profile .modal .modal-content .post .post-btns button img {
  width: 20px;
  height: 20px;
}
main#profile .modal .modal-content .post .post-likes, main#profile .modal .modal-content .post .post-caption,
main#profile .modal .modal-content .post .post-comments, main#profile .modal .modal-content .post .post-date {
  padding: 0 8px;
}
main#profile .modal .modal-content .post .post-caption {
  margin: 12px 0;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
}
main#profile .modal .modal-content .post .post-caption .username {
  font-weight: 700;
}
main#profile .modal .modal-content .post .comment-form {
  background-color: #578DDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
}
main#profile .modal .modal-content .post .comment-form .close-btn {
  align-self: flex-end;
  font-size: 2rem;
}
main#profile .modal .modal-content .post .comment-form .close-btn:hover {
  cursor: pointer;
}
main#profile .modal .modal-content .post .comment-form .form-elements p {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
main#profile .modal .modal-content .post .comment-form .form-elements p label {
  display: none;
}
main#profile .modal .modal-content .post .comment-form button {
  width: 300px;
}
main#profile .modal .modal-content .post .hide-comment-form {
  display: none;
}
main#profile .modal .modal-content .post #id_post, main#profile .modal .modal-content .post #id_user_profile {
  display: none;
}
main#profile .modal .modal-content .post .post-comments {
  font-size: 0.9rem;
}
main#profile .modal .modal-content .post .post-comments:hover {
  cursor: pointer;
}
main#profile .modal .modal-content .post .post-comments .comment {
  font-size: 0.9rem;
}
main#profile .modal .modal-content .post .post-comments .comment:hover {
  cursor: pointer;
}
main#profile .modal .modal-content .post .post-date {
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 8px;
}
main#profile .modal .modal-content form p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  align-items: flex-start;
}
main#profile .modal .modal-content form input, main#profile .modal .modal-content form textarea {
  width: 100%;
  height: 2rem;
  font-size: 0.9rem;
}
main#profile .modal .modal-content form input#id_is_completed {
  width: 30px;
}
main#profile .modal .modal-content form textarea {
  height: 200px;
}
main#profile .modal .modal-content form label {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}

@media only screen and (max-width: 400px) {
  main#profile div.profile-top {
    padding: 12px 16px;
  }
  main#profile div.profile-top div.profile-header {
    gap: 16px;
  }
  main#profile div.profile-top div.profile-header .profile-photo img {
    width: 80px;
    height: 80px;
  }
  main#profile div.profile-top div.profile-header .profile-username-action-btns .profile-username {
    font-size: 1.3rem;
  }
  main#profile .achievements .award {
    flex-direction: column;
  }
  main#profile .achievements .award .award-img {
    width: 100%;
  }
}
main#feed .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 2;
}
main#feed .modal .modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}
main#feed .modal .modal-content .close-btn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 3rem;
}
main#feed .modal .modal-content form p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  align-items: flex-start;
}
main#feed .modal .modal-content form input, main#feed .modal .modal-content form textarea {
  width: 100%;
  height: 2rem;
  font-size: 0.9rem;
}
main#feed .modal .modal-content form input#id_is_completed {
  width: 30px;
}
main#feed .modal .modal-content form textarea {
  height: 200px;
}
main#feed .modal .modal-content form label {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}
main#feed .posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
main#feed .posts .post {
  border-radius: 8px;
  border: 1px solid #000000;
  width: 45vw;
  min-width: 300px;
  padding-bottom: 12px;
}
main#feed .posts .post .post-img {
  width: 45vw;
  min-width: 300px;
  height: 30vw;
  min-height: 200px;
  background-color: lightblue;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #000000;
}
main#feed .posts .post .post-img img {
  width: 45vw;
  min-width: 300px;
  height: inherit;
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
main#feed .posts .post .post-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
}
main#feed .posts .post .post-btns .interactive-btns {
  display: flex;
  gap: 12px;
}
main#feed .posts .post .post-btns .post-action-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main#feed .posts .post .post-btns .post-action-group .post-action-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 8px;
  z-index: 1;
  background-color: #FFFFFF;
  position: absolute;
  margin-top: 24px;
}
main#feed .posts .post .post-btns .post-action-group .post-action-btns span {
  width: 100px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
main#feed .posts .post .post-btns .post-action-group .post-action-btns span:hover {
  cursor: pointer;
  border-bottom: 1px solid #000000;
}
main#feed .posts .post .post-btns .post-action-group .hide-action-btns {
  visibility: hidden;
}
main#feed .posts .post .post-btns button {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
}
main#feed .posts .post .post-btns button img {
  width: 20px;
  height: 20px;
}
main#feed .posts .post .post-likes, main#feed .posts .post .post-caption,
main#feed .posts .post .post-comments, main#feed .posts .post .post-date {
  padding: 0 8px;
}
main#feed .posts .post .post-caption {
  margin: 12px 0;
  width: 45vw;
  min-width: 300px;
  box-sizing: border-box;
}
main#feed .posts .post .post-caption .username {
  font-weight: 700;
}
main#feed .posts .post .comment-form {
  background-color: #578DDD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 45vw;
  min-width: 300px;
  box-sizing: border-box;
}
main#feed .posts .post .comment-form .close-btn {
  align-self: flex-end;
  font-size: 2rem;
}
main#feed .posts .post .comment-form .close-btn:hover {
  cursor: pointer;
}
main#feed .posts .post .comment-form .form-elements p {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
main#feed .posts .post .comment-form .form-elements p label {
  display: none;
}
main#feed .posts .post .comment-form button {
  width: 300px;
}
main#feed .posts .post .hide-comment-form {
  display: none;
}
main#feed .posts .post #id_post, main#feed .posts .post #id_user_profile {
  display: none;
}
main#feed .posts .post .post-comments {
  font-size: 0.9rem;
}
main#feed .posts .post .post-comments:hover {
  cursor: pointer;
}
main#feed .posts .post .post-comments .comment {
  font-size: 0.9rem;
}
main#feed .posts .post .post-comments .comment:hover {
  cursor: pointer;
}
main#feed .posts .post .post-date {
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 8px;
}

main#connect {
  margin-bottom: 32px;
}
main#connect .search-form {
  display: flex;
}
main#connect .search-form input {
  width: 90vw;
  min-width: 200px;
  padding: 8px 16px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid #000000;
}
main#connect .search-form input, main#connect .search-form button {
  height: 50px;
  font-size: 1.1rem;
}
main#connect .search-form button {
  width: 10vw;
  min-width: 91px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
main#connect .filter-options .filter-action-element {
  display: flex;
  margin: 16px 0;
}
main#connect .filter-options .filter-action-element select {
  width: 30vw;
  min-width: 200px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
main#connect .filter-options .filter-action-element select, main#connect .filter-options .filter-action-element button {
  height: 40px;
  padding: 0 8px;
}
main#connect .filter-options .filter-action-element button {
  width: 15vw;
  min-width: 91px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
main#connect .users {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
main#connect .users a {
  text-decoration: none;
}
main#connect .users a .user-info {
  display: flex;
  gap: 12px;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.0705882353);
}
main#connect .users a .user-info:hover {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2980392157);
}
main#connect .users a .user-info .user-photo {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(0.8);
  border-radius: 50%;
  border: 1px solid #000000;
}
main#connect .users a .user-info p {
  margin: 0;
}
main#connect .users a .user-info .username {
  font-weight: 700;
}
main#connect .users a .user-info .name, main#connect .users a .user-info .following {
  font-weight: 300;
}
main#connect .users a .user-info .following {
  font-size: 0.85rem;
}/*# sourceMappingURL=styles.css.map */