main#home {
  .filter-options {
    button {
      background-color: #000000;

      &:hover {
        background-color: $brand-colour;
      }
    }

    .filter-action-element {
      display: flex;
      margin: 16px 0;

      select {
        width: 30vw;
        min-width: 200px;

        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }

      select, button {
        height: 40px;
        padding: 0 8px;
      }

      button {
        width: 15vw;
        min-width: 91px;
  
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
  
  button {
    background-color: $brand-colour;
    &:hover {
      background-color: $violet;
    }
  }

  section#number-of-sessions-chart {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    div {
      align-self: center;
      width: 100%; 
      max-width: 700px;
    }
  }

}

main#landing {
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $dark-grey;

  div.content {
    margin: 0 16px;
    p {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 16px 0;
      margin: 0;
    }

    p.larger {
      font-size: 1.7rem;
      font-weight: bold;
    }

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .carousel-div {
      display: flex;
      flex-direction: column;
      gap: 32px;

      padding: 100px 0;

      .content-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
  
        .arrow {
          font-size: 3rem;
          background-color: #3e9c94;
          color: #fff;
  
          border: 4px solid #000;
          box-shadow: 8px 4px 0 #7ec0de;
  
          padding: 8px 16px;
          border-radius: 50%;
  
          &:hover {
            background-color: #54d39a;
            cursor: pointer;
          }
        
        }
  
        .display-content {
          display: none;
          background-color: $brand-colour;
          color: $white;

          width: 80vw;
          max-width: 750px;
          border-radius: 16px;
          border: 1px solid #e5e5e5;
  
          img {
            min-width: 300px;
            width: 40vw;
            max-width: 300px;
  
            object-fit: cover;
            padding: 12px 24px;
            box-sizing: border-box;
          }
  
          .info {
            font-size: 1.2rem;
            font-weight: 400;

            width: 80vw;
            max-width: 750px;
            border-radius: 16px;
            padding: 16px 32px;
            box-sizing: border-box;

            background-color: $white;
            color: $dark-grey;

            border-top-left-radius: 0;
            border-top-right-radius: 0;

            border-top: 1px solid #00000033;
          }
        }
  
        .current {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
      }
  
      .nav-dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
  
        gap: 8px;
  
        .nav-dot {
          background-color: #ddd;
          color: #555;
  
          width: 10px;
          height: 10px;
          border-radius: 50%;
  
          border: 1px solid $white;
        }
  
        .filled {
          background-color: #74edb4;
          transform: scale(1.4);
      }
      }
  
      .stop-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
  
        gap: 16px;
        
        button {
          margin-bottom: 0;
        }
  
        .btn {
          background-color: #754aa6;
          color: #fff;
          font-size: 1.3rem;
          font-weight: 700;
  
          border: 2px solid #000;
          box-shadow: 6px 6px 0 #c989f4;
  
          border-radius: 8px;
          padding: 8px 16px;
  
          &:hover {
            cursor: pointer;
            background-color: #9762d5;
        }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  main#landing {
    div.content {
      .carousel-div {
        .content-carousel {
          .display-content {
            .info {
              height: 450px;
              overflow-y: scroll;
            }
          }

          .arrow {
            z-index: 1;
            position: absolute;
            transform: scale(0.7);
            margin-top: -64px;
          }

          .left {
            left: 0;
          }

          .right {
            right: 0;
          }

        }
      }
    }
  }
}