main#home {
  .filter-options {
    // display: flex;
    // align-items: center;
    button {
      background-color: #000000;

      &:hover {
        background-color: $brand-colour;
      }
    }

    .filter-action-element {
      display: flex;
      margin: 16px 0;

      select {
        width: 30vw;
        min-width: 200px;

        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }

      select, button {
        height: 40px;
        padding: 0 8px;
      }

      button {
        width: 15vw;
        min-width: 91px;
  
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
  
  button {
    background-color: $brand-colour;
    &:hover {
      background-color: $violet;
    }
  }

  section#number-of-sessions-chart {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    div {
      align-self: center;
      width: 100%; 
      max-width: 700px;
    }
  }

  // section#monthly-sessions-chart {
  //   margin-top: 100px;
  // }
}

main#landing {
  margin: 0;
  padding: 0;
  background-color: $brand-colour;
  color: $white;
  // height: calc(100vh - 105px);
  // overflow-y: scroll;

  div.content {
    margin: 0 16px;
    p {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 16px 0;
      margin: 0;
    }

    p.larger {
      font-size: 1.7rem;
      font-weight: bold;
    }

    // height: calc(100vh - 150px);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .content-carousel {
      display: flex;
      justify-content: center;
      align-items: center;

      .arrow {
        font-size: 3rem;
        background-color: #3e9c94;
        color: #fff;

        border: 4px solid #000;
        box-shadow: 8px 4px 0 #7ec0de;

        padding: 8px 16px;
        // width: fit-content;
        border-radius: 50%;

        &:hover {
          background-color: #54d39a;
          cursor: pointer;
      }
      
      }

      .display-content {
        display: none;

        img {
          min-width: 300px;
          width: 40vw;
          max-width: 300px;

          object-fit: cover;
        }

        .info {
          font-size: 1.2rem;
          width: 75%;
        }
      }

      .current {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    }

    .stop-btn {
      button {
        margin-bottom: 0;
      }
    }
  }

  
}