@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Paytone+One&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
}
header a {
  text-decoration: none;
}
header .brand-group {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .brand-group img {
  width: 48px;
}
header .brand-group .brand-name {
  font-size: 2.6rem;
  font-weight: bold;
  font-family: "Paytone One", sans-serif;
  color: #578DDD;
}
header .auth {
  text-align: right;
}
header .auth .logout {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}
header .auth .logout p {
  margin: 0;
}
header .auth .logout form {
  margin: 0;
}
header .auth .auth-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
header .auth .auth-btns button {
  width: 100px;
  margin: 0;
}
header .auth .auth-btns button:hover {
  cursor: pointer;
  background-color: #578DDD;
}

header h1 {
  margin: 0;
}

button,
.btn {
  margin-bottom: 16px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
}

button.edit-btn {
  background-color: #ee7d2c;
  border: 1px solid #ee7d2c;
}

button.edit-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

button.delete-btn {
  background-color: crimson;
  border: 1px solid crimson;
}

button.delete-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

button:hover,
.btn:hover {
  cursor: pointer;
  background-color: #578DDD;
}

.tennis-btn {
  margin-left: 0;
}

a {
  color: #000000;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  box-sizing: border-box;
  padding: 12px 16px;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 8px;
}
nav a:hover {
  background-color: #9ABCEF;
}
nav a .profile-page-pic {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  padding: 16px 32px;
  margin-bottom: 75px;
}

@media only screen and (max-width: 1023px) {
  .login-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main#home .filter-options button {
  background-color: #000000;
}
main#home .filter-options button:hover {
  background-color: #578DDD;
}
main#home .filter-options .filter-action-element {
  display: flex;
  margin: 16px 0;
}
main#home .filter-options .filter-action-element select {
  width: 30vw;
  min-width: 200px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
main#home .filter-options .filter-action-element select, main#home .filter-options .filter-action-element button {
  height: 40px;
  padding: 0 8px;
}
main#home .filter-options .filter-action-element button {
  width: 15vw;
  min-width: 91px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
main#home button {
  background-color: #578DDD;
}
main#home button:hover {
  background-color: #A992FA;
}
main#home section#number-of-sessions-chart {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
main#home section#number-of-sessions-chart div {
  align-self: center;
  width: 100%;
  max-width: 700px;
}

main#landing {
  margin: 0;
  padding: 0;
  background-color: #578DDD;
  color: #FFFFFF;
  height: calc(100vh - 105px);
}
main#landing div.content {
  height: calc(100vh - 150px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main#landing div.content p {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 16px 0;
  margin: 0;
}
main#landing div.content p.larger {
  font-size: 1.7rem;
  font-weight: bold;
}
main#landing div.content img {
  min-width: 200px;
  width: 40vw;
  max-width: 300px;
}

main#register {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
}
main#register h2 {
  align-self: center;
  margin-bottom: 48px;
}
main#register form {
  background-color: #578DDD;
  color: #FFFFFF;
  align-self: center;
  width: 75vw;
  max-width: 450px;
  padding: 16px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
main#register form input, main#register form textarea, main#register form select {
  width: 100%;
  height: 2rem;
  font-size: 0.9rem;
}
main#register form input#id_is_completed {
  width: 30px;
}
main#register form label {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}
main#register form button, main#register form input[type=submit] {
  align-self: center;
  height: 2.5rem;
}
main#register form button:hover, main#register form input[type=submit]:hover {
  background-color: #32ca6f;
}
main#register .view-tennis-sessions-btn {
  margin-top: 20px;
}/*# sourceMappingURL=styles.css.map */