body#feed {
  main {
    padding: 0 32px;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Styles for screens less than 425px width */
@media (max-width: 424px) {
  body#feed {
    main {
      margin-top: 48px;
    }
  }

  .feed-posts {
    .feed-post {
      margin-bottom: 48px;

      .card {
        transform: scale(1.2);
        margin-bottom: 24px;
      }
    }
  }
}