body#history {
  main {
    padding: 0 32px;
    width: 100%;
    // background-color: aquamarine;
    box-sizing: border-box;

    .session-date-picker {
      @include date-input();
    }

    .sessions {
      .session {
        background-color: $colour-placeholder;
        border-radius: 8px;
        border: 1px solid $colour-black;
        padding: 16px;

        p {
          color: $colour-black;
        }

        .session-name {
          font-size: 1.4rem;
          font-weight: bold;
        }

        .session-date {
          font-size: 0.8rem;
          font-weight: 300;
        }
      }
    }
  }
}