{% extends '../registration/base.html' %} 
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static './tennis/styles/styles.css' %}">
{% endblock %}
{% block content %}
<main id="session">
  <h2>Add Tennis Session</h2>

  <form action="" method="post" novalidate>
    {% csrf_token %} 
    {{ form.as_p }}
    <input class="btn" type="submit" value="Add Tennis Session" />
  </form>

  <a href="{% url 'tennis:tennis' %}"
    ><button class="view-tennis-sessions-btn">View Tennis Sessions</button></a
  >
</main>
{% endblock %}
