{% extends '../registration/base.html' %} 
{% block extra_styles %}
<style>
  main {
      padding: 32px;
  }

  .view-tennis-sessions-btn {
    margin-top: 20px;
  }
</style>
{% endblock %}
{% block content %}
<main>
  <h2>Add Tennis Session</h2>
  <p>This is the Add tennis session page for SixLove, feel free to add tennis sessions!</p>

  <form action="" method="post" novalidate>
    {% csrf_token %} {{ form.as_p }}
    <input class="btn" type="submit" value="Add Tennis Session" />
  </form>

  <a href="{% url 'tennis:tennis' %}"
    ><button class="view-tennis-sessions-btn">View Tennis Sessions</button></a
  >
</main>
{% endblock %}
