{% extends '../registration/base.html' %} 
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static './tennis/styles/styles.css' %}">
{% endblock %}
{% block content %}
<main id="delete">
  <h2>Delete Tennis Session?</h2>
  <div class="main-content">
    <p>Are you sure you want to delete the session "{{ tennis_session.title }}"?</p>
    <form action="" method="post">
      {% csrf_token %}
      <button class="btn" type="submit">Delete Tennis Session</button>
    </form>
  </div>

  <div class="back-btn-div">
    <a href="{% url 'tennis:tennis' %}"
      ><button class="view-tennis-sessions-btn">Back to Tennis Sessions</button></a
    >
  </div>
</main>
{% endblock %}
