{% extends '../registration/base.html' %} 
{% block extra_styles %}
<style>
  main {
      padding: 32px;
  }

  .view-tennis-sessions-btn {
    margin-top: 20px;
  }
</style>
{% endblock %}
{% block content %}
<main>
  <h2>Delete Tennis Session?</h2>
  <p>Are you sure you want to delete the session "{{ tennis_session.title }}"?</p>

  <form action="" method="post">
    {% csrf_token %}
    <button class="btn" type="submit">Delete Tennis Session</button>
  </form>

  <a href="{% url 'tennis:tennis' %}"
    ><button class="view-tennis-sessions-btn">Back to Tennis Sessions</button></a
  >
</main>
{% endblock %}
