{% extends '../registration/base.html' %} 
{% block extra_styles %}
<style>
  main {
    padding: 16px 32px; 
  }

  .view-tennis-sessions-btn {
    margin-top: 20px;
  }
</style>
{% endblock %}
{% block content %}
<main>
  <h2>Edit Tennis Session</h2>
  <p>This is the Edit tennis session page for SixLove, you can edit your tennis session.</p>

  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn" type="submit" value="Edit Tennis Session">
  </form>

  <a href="{% url 'tennis:tennis' %}"
    ><button class="view-tennis-sessions-btn">Back to Tennis Sessions</button></a
  >
</main>
{% endblock %}
