{% extends '../registration/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static './tennis/styles/styles.css' %}">
{% endblock %}
{% block content %}
<main id="learn">
  <h2>Discover</h2>

  <!-- Search Form -->
  <form class="search-form" action="" method="get">
    <input type="text" name="resource-search" placeholder="Search resources" value="{{ search_query }}">
    <button type="submit">Search</button>
  </form>
  
  <div class="resources">
    {% for resource in resources %}
    <div class="resource">
      <p>{{ resource }}</p>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
