{% extends '../registration/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static './tennis/styles/styles.css' %}">
{% endblock %}
{% block content %}
<main id="learn">
  <h2>Discover</h2>

  <!-- Search Form -->
  <form class="search-form" action="" method="get">
    <input type="text" name="resource-search" placeholder="Search resources" value="{{ search_query }}">
    <button type="submit">Search</button>
  </form>

  <!-- Filter Option -->
  <form method="get" class="filter-options">
    <label for="filter">Filter by:</label>
    <div class="filter-action-element">
      <select name="filter" id="filter">
        <option value="" {% if not filter_option %}selected{% endif %}>All</option>
        <option value="fundamentals" {% if filter_option == 'fundamentals' %}selected{% endif %}>
          Fundamentals
        </option>
        <option value="fitness" {% if filter_option == 'fitness' %}selected{% endif %}>
          Fitness
        </option>
        <option value="stretch" {% if filter_option == 'stretch' %}selected{% endif %}>
          Stretching
        </option>
        <option value="forehand" {% if filter_option == 'forehand' %}selected{% endif %}>
          Forehand
        </option>
        <option value="backhand" {% if filter_option == 'backhand' %}selected{% endif %}>
          Backhand
        </option>
        <option value="volley" {% if filter_option == 'volley' %}selected{% endif %}>
          Volley
        </option>
        <option value="slice" {% if filter_option == 'slice' %}selected{% endif %}>
          Slice
        </option>
      </select>
      <button type="submit">Apply Filter</button>
    </div>
  </form>
  
  <!-- Populating page with resource cards. -->
  <div class="resources">
    {% for resource in resources %}
    <a href="{% url 'tennis:resource' resource_id=resource.id %}">
      <div class="resource">
        <p class="resource-title">{{ resource.title }}</p>
        {% if resource.resource_type != "video" %}
          {% with first_section=resource.sections.first %}
            {% if first_section %}
              <p class="resource-content">{{ first_section.content|slice:":150" }}...</p>
            {% endif %}
          {% endwith %}
        {% endif %}
        <p class="resource-tag">{{ resource.tags.first.name }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</main>
{% endblock %}
