{% extends '../registration/base.html' %}
{% load static %} 
{% block extra_styles %}
<link rel="stylesheet" href="{% static './tennis/styles/styles.css' %}">
{% endblock %}
{% block content %}
<main id="resource">
  <a class="back-btn" href="{% url 'tennis:learn' %}"
    ><button>Back to Learn</button></a
  >
  <h1 class="resource-title">{{ title }}</h1>

  {% if resource %}
  {% if resource.resource_type == "video" %}
    <iframe class="resource-video" src="https://www.youtube.com/embed/{{ resource.video_url }}" frameborder="0"></iframe>
  {% elif resource.resource_type == "article" %}
    <img class="resource-img" src="{{ resource.article_img.url }}" alt="Article image">

    {% if sections %}
      <div class="resource-content">
        <!-- Iterating through sections for articles -->
        {% for section in sections %}
          <!-- Rendering section content based on section_type -->
          {% if section.section_type == "heading" %}
            <p class="subheading">{{ section.content }}</p>
          {% elif section.section_type == "paragraph" %}
            {% for para in section.split_content %}
                <p>{{ para }}</p>
              {% endfor %}
          {% elif section.section_type == "image" %}
            <img src="{{ section.image.url }}" alt="Section Image">
          {% elif section.section_type == "bullet_points" %}
            <ul>
              {% for point in section.split_content %}
                <li>{{ point }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
  <a href="{{ resource.reference }}" target="_blank">
    <p class="resource-link">Resource reference.</p>
  </a>
  {% else %}
  <p>Resource does not exist.</p>
  {% endif %}
</main>
{% endblock %}
