{% extends '../registration/base.html' %} 
{% block extra_styles %}
<style>
  .session {
        /* border: 1px solid #00000000; */
        box-shadow: 4px 4px 20px #00000030;
        border-radius: 8px;
        margin-bottom: 16px;
        padding: 8px 16px;
  }

  .session:hover {
        box-shadow: 4px 4px 20px #00000050;
  }

  .session span {
        font-weight: bold;
  }

  .session p, .session a {
        padding: 0 20px;
  }

  main a {
    text-decoration: none;
  }
</style>
{% endblock %}
{% block content %}
<main style="padding: 16px">
  <h2>Tennis</h2>
  <p>This is the tennis page for SixLove, you can view your tennis sessions here!</p>

  <h3 style="margin-top: 48px;">Today</h3>

  {% if today_sessions %}
  {% for session in today_sessions %}
  <div class="session">
    <p><span>Title: </span>{{ session.title }}</p>
    <p><span>Notes: </span>{{ session.notes }}</p>
    <p><span>Date: </span>{{ session.date }}</p>
    <p><span>is completed: </span>{{ session.is_completed }}</p>
    <a href="{{ session.id }}/edit"><button>Edit Session</button></a>
    <a href="{{ session.id }}/delete"><button>Delete Session</button></a>
  </div>
  {% endfor %}
  {% else %}
  <p>{{ is_today }}</p>
  {% endif %}

  <div>
    <a href="{% url 'tennis:add' %}">
      <button class="tennis-btn" style="margin-top: 20px;">Add Tennis Session</button>
    </a>
    <a href="{% url 'tennis:add' %}">
      <button class="tennis-btn" style="margin-top: 20px;">View Calendar</button>
    </a>
  </div>

  <h3 style="margin-top: 48px;">Upcoming sessions</h3>
  {% if upcoming_sessions %}
  {% for session in upcoming_sessions %}
  <div class="session">
    <p><span>Title: </span>{{ session.title }}</p>
    <p><span>Notes: </span>{{ session.notes }}</p>
    <p><span>Date: </span>{{ session.date }}</p>
    <p><span>is completed: </span>{{ session.is_completed }}</p>
    <a href="{{ session.id }}/edit"><button>Edit Session</button></a>
    <a href="{{ session.id }}/delete"><button>Delete Session</button></a>
  </div>
  {% endfor %}
  {% else %}
  <p>No upcoming tennis sessions.</p>
  {% endif %}

  <h3 style="margin-top: 48px;">History</h3>
  {% if past_sessions %}
  {% for session in past_sessions %}
  <div class="session">
    <p><span>Title: </span>{{ session.title }}</p>
    <p><span>Notes: </span>{{ session.notes }}</p>
    <p><span>Date: </span>{{ session.date }}</p>
    <p><span>is completed: </span>{{ session.is_completed }}</p>
    <a href="{{ session.id }}/edit"><button>Edit Session</button></a>
  </div>
  {% endfor %}
  {% else %}
  <p>No past tennis sessions.</p>
  {% endif %}

</main>
{% endblock %}
