{% extends '../registration/base.html' %} 
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static './tennis/styles/styles.css' %}">
{% endblock %}
{% block content %}
<main id="tennis">
  <h3>Today</h3>

  {% if today_sessions %}
  {% for session in today_sessions %}
  <div class="session">
    <p><span>Title: </span>{{ session.title }}</p>
    <p><span>Category: </span>{{ session.category }}</p>
    <p><span>Notes: </span>{{ session.notes }}</p>
    <p><span>Date: </span>{{ session.date }}</p>
    <p><span>is completed: </span>{{ session.is_completed }}</p>
    <a href="{{ session.id }}/edit"><button class="edit-btn">Edit Session</button></a>
    <a href="{{ session.id }}/delete"><button class="delete-btn">Delete Session</button></a>
  </div>
  {% endfor %}
  {% else %}
  <p>{{ is_today }}</p>
  {% endif %}

  <div>
    <a href="{% url 'tennis:add' %}">
      <button class="tennis-btn" style="margin-top: 20px;">Add Tennis Session</button>
    </a>
    <a href="{% url 'planner:calendar' %}">
      <button class="tennis-btn" style="margin-top: 20px;">View Calendar</button>
    </a>
  </div>

  <h3>Upcoming sessions</h3>
  {% if upcoming_sessions %}
  {% for session in upcoming_sessions %}
  <div class="session">
    <p><span>Title: </span>{{ session.title }}</p>
    <p><span>Category: </span>{{ session.category }}</p>
    <p><span>Notes: </span>{{ session.notes }}</p>
    <p><span>Date: </span>{{ session.date }}</p>
    <p><span>is completed: </span>{{ session.is_completed }}</p>
    <a href="{{ session.id }}/edit"><button class="edit-btn">Edit Session</button></a>
    <a href="{{ session.id }}/delete"><button class="delete-btn">Delete Session</button></a>
  </div>
  {% endfor %}
  {% else %}
  <p>No upcoming tennis sessions.</p>
  {% endif %}

  <h3>History</h3>
  {% if past_sessions %}
  {% for session in past_sessions %}
  <div class="session">
    <p><span>Title: </span>{{ session.title }}</p>
    <p><span>Category: </span>{{ session.category }}</p>
    <p><span>Notes: </span>{{ session.notes }}</p>
    <p><span>Date: </span>{{ session.date }}</p>
    <p><span>is completed: </span>{{ session.is_completed }}</p>
    <a href="{{ session.id }}/edit"><button class="edit-btn">Edit Session</button></a>
  </div>
  {% endfor %}
  {% else %}
  <p>No past tennis sessions.</p>
  {% endif %}

</main>
{% endblock %}
