body#profile {
  margin: 0;
  padding: 0 0 100px 0;

  main {
    // Flex.
    display: flex;
    flex-direction: column;

    .background {
      background-color: $colour-placeholder;
      width: 100%;
      height: 20vh;
      border-bottom: 1px solid $colour-black;

      // Flex.
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 16px 32px;

      a {
        cursor: pointer;
      }

      p {
        margin: 0;
      }
    }

    .profile-img-section {
      display: flex;
      justify-content: center;
      margin-top: -72px;
    }

    .profile-info-section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 64px;
      margin-top: 24px;
      border-bottom: 1px solid $colour-black;

      .profile-info-follow-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;

        p {
          margin: 0;
        }

        .count {
          font-size: 2rem;
          margin-top: 16px;
          padding-bottom: 16px;
        }
      }
    }

    .profile-bio-section {
      background-color: $colour-nav;
      border-bottom: 1px solid $colour-black;

      p {
         margin: 0;
      }

      .profile-name {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 24px 32px;
      }

      .profile-bio {
        padding: 0 32px 24px 32px;
      }
    }

    .profile-toggle-view-section {
      background-color: $colour-nav;
      width: max-content;
      padding: 12px 24px;
      border-radius: 8px;
      border: 1px solid $colour-black;
      align-self: center;
      margin: 16px 0 48px 0;

      .toggle-btns {
        // Flex.
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        button {
          border-radius: 8px;
          border: 1px solid $colour-black;
          padding: 8px 18px;
          cursor: pointer;

          &:hover {
            background-color: $colour-input-hover;
          }
        }

        .active {
          background-color: $colour-highlight;
  
          &:hover {
            background-color: $colour-highlight-hover;
          }
        }
      }
    }

    .profile-post-grid-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .posts-row {
        // Flex.
        display: flex;
        gap: 8px;

        .post {
          background-color: $colour-post;
          width: 25vw;
          height: 25vw;
          border-radius: 8px;
          border: 1px solid $colour-black;
        }
      }
    }

    .profile-achievements-grid-section {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .award-box {
        background-color: $colour-nav;
        border-radius: 8px;
        border: 1px solid $colour-black;
        margin: 0 32px;
        padding: 8px 16px;
        box-sizing: border-box;

        // Flex.
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 16px;

        p {
          margin: 0;
        }

        .award-pic {
          background-color: $colour-placeholder;
          width: 25vw;
          height: 25vw;
          min-width: 80px;
          min-height: 150px;
          max-width: 380px;
          max-height: 380px;
          border: 1px solid $colour-black;
          border-radius: 8px;

          img {
            width: inherit;
            height: inherit;
            object-fit: cover;
          }
        }

        .award-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 24px;

          .award-name {
            font-size: 1.4rem;
            font-weight: bold;
          }

          .award-desc {
            font-size: 1.2rem;
          }

          .award-date {
            font-weight: 300;
          }
        }
      }
    }
  }

  #settings-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    #settings-back-btn {
      transform: scale(2);
      display: block;
      justify-self: flex-start;
      
      i {
        color: $colour-dark;
      }
    }

    .modal-title {
      font-size: 1.5rem;
      font-weight: 800;
      margin-left: -58px;
    }
  }

  #settings-body {
    background-color: $colour-light;
    padding: 0;

    .settings-section {
      background-color: $colour-white;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 24px 32px;

      .settings-div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
          font-weight: bold;
          font-size: 1.1rem;
        }

        span {
          font-size: 0.85rem;
          font-weight: 300;
        }
  
        #flexSwitchCheckDefault {
          transform: scale(1.5);
          outline: none;
      
          &:checked {
            background-color: $colour-green;
          }
        }
      }
    }
  }

  .settings-footer {
    background-color: $colour-light;
    text-align: center;
    padding: 8px 0;

    p {
      margin: 0;
      font-family: $font-display;
      color: $colour-brand;
    }
  }
}

.hide-toggle {
  display: none !important;
}

/* Styles for screens less than 425px width */
@media (max-width: 424px) {
  body#profile {
    main {
      .background {
        padding: 16px 18px;
      }
      
      .profile-bio-section {
        .profile-name {
          padding: 24px 18px;
        }

        .profile-bio {
          padding: 0 18px 24px 18px;
        }
      }

      .profile-post-grid-section {  
        .posts-row {
          .post {
            width: 27vw;
            height: 27vw;
          }
        }
      }

      .profile-achievements-grid-section {
        .award-box {
          margin: 0 18px; 
          
          .award-info {
            gap: 8px;

            .award-name {
              font-size: 1.2rem;
              font-weight: bold;
            }
  
            .award-desc {
              font-size: 1rem;
            }
  
            .award-date {
              font-size: 0.8rem;
              font-weight: 300;
            }
          }
        }
      }

      #settings-body {
        .settings-section {
          padding: 24px 18px;
    
          .settings-div {
            p {
              font-size: 1rem;
            }
    
            span {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}