// Importing the fonts.
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$font-main: 'Roboto Mono', monospace;
$font-display: 'Righteous', sans-serif;

$colour-brand: #578DDD;
$colour-nav: #D9D9D9;
$colour-highlight: #BDFDDB;
$colour-highlight-hover: #8CEDB9;
$colour-white: #FFFFFF;
$colour-black: #000000;
$colour-dark: #3D3D3D;
$colour-light: #F6F6F6;
$colour-green: #3FF09B;
$colour-green-hover: #11D979;
$colour-placeholder: #E4EDFF;
$colour-input: #D3DCFD;
$colour-input-hover: #ACBDF8;
$colour-post: #F2F2F2;
$colour-calendar-day: #365075;
$colour-calendar-current: #FF3232;