main#learn {
  margin-bottom: 32px;

  .search-form {
    display: flex;

    input {
      width: 90vw;
      min-width: 200px;
      padding: 8px 16px;

      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      border: 1px solid $black;
    }

    input, button {
      height: 50px;
      font-size: 1.1rem;
    }

    button {
      width: 10vw;
      min-width: 91px;

      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .filter-options {
    // display: flex;
    // align-items: center;

    .filter-action-element {
      display: flex;
      margin: 16px 0;

      select {
        width: 30vw;
        min-width: 200px;

        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }

      select, button {
        height: 40px;
        padding: 0 8px;
      }

      button {
        width: 15vw;
        min-width: 91px;
  
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  .resources {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    a {
      text-decoration: none;
  
      .resource {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        gap: 12px;
        width: 200px;
        height: 200px;

        border: 1px solid $black;
        border-radius: 8px;
        box-shadow: 4px 4px 14px #00000012;
        padding: 8px 16px;

        &:hover {
          box-shadow: 4px 4px 14px #0000004c;
        }
  
        p {
          margin: 0;
        }
  
        .resource-title {
          font-weight: 700;
        }

        .resource-content {
          font-weight: 300;
        }

        .resource-tag {
          font-size: 0.85rem;
          font-weight: 500;
          background-color: $brand-colour;
          color: $white;

          padding: 8px 16px;
          border-radius: 8px;
        }
      }
    }
  }
  
}