main#learn .search-form {
  display: flex;
}
main#learn .search-form input {
  width: 90vw;
  min-width: 200px;
  padding: 8px 16px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid #000000;
}
main#learn .search-form input, main#learn .search-form button {
  height: 50px;
  font-size: 1.1rem;
}
main#learn .search-form button {
  width: 10vw;
  min-width: 91px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
main#learn .filter-options .filter-action-element {
  display: flex;
  margin: 16px 0;
}
main#learn .filter-options .filter-action-element select {
  width: 30vw;
  min-width: 200px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
main#learn .filter-options .filter-action-element select, main#learn .filter-options .filter-action-element button {
  height: 40px;
  padding: 0 8px;
}
main#learn .filter-options .filter-action-element button {
  width: 15vw;
  min-width: 91px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
main#learn .resources {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
}
main#learn .resources a {
  text-decoration: none;
}
main#learn .resources a .resource {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 250px;
  height: 250px;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.0705882353);
  padding: 8px 16px;
}
main#learn .resources a .resource:hover {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.2980392157);
}
main#learn .resources a .resource p {
  margin: 0;
}
main#learn .resources a .resource .resource-title {
  font-weight: 700;
}
main#learn .resources a .resource .resource-content {
  font-weight: 300;
}
main#learn .resources a .resource .resource-tag {
  font-size: 0.85rem;
  font-weight: 500;
  background-color: #578DDD;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 8px;
}

@media only screen and (max-width: 480px) {
  main#learn .resources {
    justify-content: center;
  }
}
main#resource {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main#resource .back-btn {
  align-self: flex-start;
}
main#resource img {
  width: 75vw;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 32px 0;
}
main#resource .resource-video {
  width: 75vw;
  height: 550px;
  margin: 72px 0;
  border: 10px solid #578DDD;
}
main#resource .resource-content {
  width: 75%;
  text-align: justify;
}
main#resource .resource-content .subheading {
  font-size: 1.4rem;
  font-weight: 500;
}
main#resource .resource-content p, main#resource .resource-content li {
  line-height: 2rem;
}
main#resource .resource-content img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(0.8);
}
main#resource .resource-content span {
  font-weight: bold;
}
main#resource a .resource-link {
  margin-top: 48px;
}

main#tennis {
  padding: 16px 32px;
}
main#tennis div.session {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1882352941);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 8px 16px;
}
main#tennis div.session:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3137254902);
}
main#tennis div.session span {
  font-weight: bold;
}
main#tennis div.session p, main#tennis div.session a {
  padding: 0 20px;
}
main#tennis a {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */