.calendar-section {
  // background-color: $dark-grey;
  // background-color: #f4f4f4;
  border-radius: 8px;

  box-sizing: border-box;
  // width: 500px;
  padding: 8px;

  .calendar {
    border: 1px solid #00000023;
    background-color: $white;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 4px 4px 4px #00000027;

    .month {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 16px;

      height: 100px;
      padding: 8px;

      .date {
        font-size: 1.8rem;
        font-weight: bold;
        color: $dark-grey;
        text-transform: capitalize;
      }

      i, .prev, .next {
        color: $white-grey;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }

    .weekdays {
      display: flex;
      justify-content: space-between;
      align-items: center;

      text-transform: capitalize;
      font-weight: 500;
      font-size: 1rem;
      color: $white-grey;

      div {
        width: calc(100%/7);
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .days {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      font-weight: 500;
      font-size: 1.3rem;
      color: $light-grey;

      .day {
        width: calc(100%/7);
        height: 100px;

        box-sizing: border-box;
        border: 1px solid #e9e6e6;
        color: $brand-colour;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:not(.prev-date, .next-date) {
          &:hover {
            @include calendarDayBox();
          }
        }
      }

      .prev-date, .next-date {
        color: $disabled;
      }

      .today {
        font-size: 2.2rem;
        background-color: crimson;
        color: $white;
      }

      .active {
        @include calendarDayBox();
        font-size: 2.2rem;
      }

      .tennis-session {
        position: relative;

        &:hover::after {
          background-color: $white;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 10%;
          left: 50%;

          width: 75%;
          height: 12px;
          transform: translateX(-50%);
          border-radius: 8px;

          background-color: $green;
        }
      }

      .active.tennis-session {
        &::after {
          background-color: $white;
        }
      }
    }

    .selectDate-today {
      width: 100%;
      // height: 50px;
      box-sizing: border-box;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
      margin: 20px 0;
      color: $brand-colour;

      .selectDate {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        border: 1px solid $orange;
        border-radius: 8px;

        input {
          background-color: #ffffff00;
          height: 40px;
          padding: 0 16px;
          outline: none;
          border: none;
          cursor: pointer;
        }

        button {
          height: 40px;
          margin: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          background-color: $orange;
          font-size: 1rem;
          text-transform: uppercase;

          &:hover {
            color: $orange;
            background-color: #ffffff00;
            border-left: 1px solid $orange;
          }
        }
      }

      .today-btn {
        height: 40px;
        background-color: $orange;
        font-size: 1rem;
        text-transform: uppercase;

        &:hover {
          color: $orange;
          background-color: #ffffff00;
          border: 1px solid $orange;
        }
      }
    }
  }
}
