main {
  padding: 16px 32px;
}

.view-tennis-sessions-btn {
margin-top: 20px;
margin-bottom: 48px;
}

// Calendar styling.
.calendar {

  .calendarDiv {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .dayDiv {
      min-height: 150px;
      height: auto;
  
      background-color: #ffffff;
      border: 1px solid #00000038;

      .day {
        margin: 0;
        font-weight: bold;
        padding: 4px;
        margin: 2px;
      }

      .currentDay {
        background-color: crimson;
        color: #ffffff;
        width: 20px;
        height: 20px;
        text-align: center;

        // padding: 16px;
        border-radius: 50%;
      }

      .task {
        min-height: 50px;
        background-color: hotpink;
        border-radius: 8px;
        margin: 4px 8px;

         &:hover {
          cursor: pointer;
          background-color: #f6459e;
         }
      }
    }
  }
}