.calendar-section {
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
}
.calendar-section .calendar {
  border: 1px solid rgba(0, 0, 0, 0.137254902);
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1529411765);
}
.calendar-section .calendar .month {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  height: 100px;
  padding: 8px;
}
.calendar-section .calendar .month .date {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3D3D3D;
  text-transform: capitalize;
}
.calendar-section .calendar .month i, .calendar-section .calendar .month .prev, .calendar-section .calendar .month .next {
  color: #8F8E8E;
  font-size: 1.1rem;
  cursor: pointer;
}
.calendar-section .calendar .weekdays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1rem;
  color: #8F8E8E;
}
.calendar-section .calendar .weekdays div {
  width: 14.2857142857%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-section .calendar .days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 1.3rem;
  color: #656468;
}
.calendar-section .calendar .days .day {
  width: 14.2857142857%;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #e9e6e6;
  color: #578DDD;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.calendar-section .calendar .days .day:not(.prev-date, .next-date):hover {
  color: #FFFFFF;
  background-color: #578DDD;
}
.calendar-section .calendar .days .prev-date, .calendar-section .calendar .days .next-date {
  color: #B3B3B3;
  cursor: default;
}
.calendar-section .calendar .days .today {
  font-size: 2.2rem;
  background-color: crimson;
  color: #FFFFFF;
}
.calendar-section .calendar .days .active {
  color: #FFFFFF;
  background-color: #578DDD;
  font-size: 2.2rem;
}
.calendar-section .calendar .days .tennis-session {
  position: relative;
}
.calendar-section .calendar .days .tennis-session:hover::after {
  background-color: #FFFFFF;
}
.calendar-section .calendar .days .tennis-session::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 12px;
  transform: translateX(-50%);
  border-radius: 8px;
  background-color: #32ca6f;
}
.calendar-section .calendar .days .active.tennis-session::after {
  background-color: #FFFFFF;
}
.calendar-section .calendar .selectDate-today {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin: 20px 0;
  color: #578DDD;
}
.calendar-section .calendar .selectDate-today .selectDate {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  border: 1px solid #ee7d2c;
  border-radius: 8px;
  cursor: pointer;
}
.calendar-section .calendar .selectDate-today .selectDate input {
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  height: 40px;
  padding: 0 16px;
  outline: none;
  border: none;
  cursor: pointer;
}
.calendar-section .calendar .selectDate-today .selectDate input:hover {
  background-color: #ee7d2c;
  color: #FFFFFF;
}
.calendar-section .calendar .selectDate-today .selectDate button {
  height: 40px;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ee7d2c;
  font-size: 1rem;
  text-transform: uppercase;
}
.calendar-section .calendar .selectDate-today .selectDate button:hover {
  color: #ee7d2c;
  background-color: rgba(255, 255, 255, 0);
  border-left: 1px solid #ee7d2c;
}
.calendar-section .calendar .selectDate-today .today-btn {
  height: 40px;
  margin: 0;
  background-color: #ee7d2c;
  font-size: 1rem;
  text-transform: uppercase;
}
.calendar-section .calendar .selectDate-today .today-btn:hover {
  color: #ee7d2c;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ee7d2c;
}
.calendar-section .side-panel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #578DDD;
  color: #FFFFFF;
  overflow-y: auto;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.calendar-section .side-panel button:hover {
  background-color: #32ca6f;
  color: #FFFFFF;
}
.calendar-section .side-panel .side-panel-close-btn {
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-size: 3rem;
}
.calendar-section .side-panel .side-panel-session-div {
  color: #000000;
  background-color: #FFFFFF;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.031372549);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0 8px;
}
.calendar-section .side-panel .side-panel-session-div span {
  font-weight: bold;
}
.calendar-section .side-panel .side-panel-session-div button.edit-session-btn {
  background-color: #ee7d2c;
  border: 1px solid #ee7d2c;
}
.calendar-section .side-panel .side-panel-session-div button.edit-session-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}
.calendar-section .side-panel .side-panel-session-div button.delete-session-btn {
  background-color: crimson;
  border: 1px solid crimson;
}
.calendar-section .side-panel .side-panel-session-div button.delete-session-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
}

@media only screen and (max-width: 400px) {
  .calendar-section .calendar .selectDate-today {
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }
  .calendar-section .side-panel {
    width: 70%;
  }
}
@media only screen and (max-width: 350px) {
  .calendar-section .side-panel {
    width: 80%;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}
.modal .modal-content .close-btn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 3rem;
}
.modal .modal-content form p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  align-items: flex-start;
}
.modal .modal-content form input, .modal .modal-content form textarea {
  width: 100%;
  height: 2rem;
  font-size: 0.9rem;
}
.modal .modal-content form input#id_is_completed {
  width: 30px;
}
.modal .modal-content form textarea {
  height: 200px;
}
.modal .modal-content form label {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */