{% extends 'base.html' %} 
{% block title %}Feed{% endblock %} 
{% block content %}
{% load static %}
<div style="display: none">
  <h1>Feed</h1>
</div>
<section class="feed-posts full-width navbar-adjust-feed">
  <div class="row-adjust row mb-5 justify-content-center">
    <div class="feed-post col-10 col-md-6">
      <div class="card">
        <img
          src="{% static 'images/placeholder.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="post-interaction-btns">
            <button class="btn fs-2">
              <i class="fa-regular fa-heart text-danger"></i>
              <!-- <i class="fa-solid fa-heart text-danger"></i> -->
            </button>
            <button class="btn fs-2">
              <i class="fa-regular fa-comment"></i>
            </button>
          </div>
          <p>124 likes</p>
          <p class="card-text">
            Some quick example text to build on the card title and make up
            the bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="post-info">
        <p>View all 12 comments</p>
        <p>2 days ago</p>
      </div>
    </div>
  </div>
  <div class="row-adjust row mb-5 justify-content-center">
    <div class="feed-post col-10 col-md-6">
      <div class="card">
        <img
          src="{% static 'images/placeholder.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="post-interaction-btns">
            <button class="btn fs-2">
              <i class="fa-regular fa-heart text-danger"></i>
              <!-- <i class="fa-solid fa-heart text-danger"></i> -->
            </button>
            <button class="btn fs-2">
              <i class="fa-regular fa-comment"></i>
            </button>
          </div>
          <p>124 likes</p>
          <p class="card-text">
            Some quick example text to build on the card title and make up
            the bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="post-info">
        <p>View all 12 comments</p>
        <p>2 days ago</p>
      </div>
    </div>
  </div>
  <div class="row-adjust row mb-5 justify-content-center">
    <div class="feed-post col-10 col-md-6">
      <div class="card">
        <img
          src="{% static 'images/placeholder.png' %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="post-interaction-btns">
            <button class="btn fs-2">
              <i class="fa-regular fa-heart text-danger"></i>
              <!-- <i class="fa-solid fa-heart text-danger"></i> -->
            </button>
            <button class="btn fs-2">
              <i class="fa-regular fa-comment"></i>
            </button>
          </div>
          <p>124 likes</p>
          <p class="card-text">
            Some quick example text to build on the card title and make up
            the bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="post-info">
        <p>View all 12 comments</p>
        <p>2 days ago</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block active_feed %}current{% endblock %}