<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SixLove | History</title>
    <!-- Bootstrap -->
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script> -->
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body id="history">
    <!-- ---------------------------- Header ----------------------------  -->
    <header>
      <span
        ><img src="./images/SixLoveLogo.svg" alt="SixLove Logo" width="30px;"
      /></span>
      <span id="title">SixLove</span>
      <a href="./login.html">login</a>
    </header>
    <!-- --------------X------------- Header --------------X-------------  -->
    <!-- ---------------------------- Nav Menu ----------------------------  -->
    <nav>
      <a href="./tennis.html"
        ><img src="./images/tennis-page-icon.svg" alt="Tennis Page Icon" /><span
          >Tennis</span
        ></a
      >
      <a href="./feed.html"
        ><img src="./images/feed-page-icon.svg" alt="Feed Page Icon" /><span
          >Feed</span
        ></a
      >
      <a href="./learn.html"
        ><img src="./images/learn-page-icon.svg" alt="Learn Page Icon" /><span
          >Learn</span
        ></a
      >
      <a class="current" href="./history.html"
        ><img
          src="./images/history-page-icon.svg"
          alt="History Page Icon"
        /><span>History</span></a
      >
      <a href="./profile.html"
        ><img
          src="./images/profile-page-icon.svg"
          alt="Profile Page Icon"
        /><span>Profile</span></a
      >
    </nav>
    <!-- --------------X------------- Nav Menu --------------X-------------  -->
    <!-- ---------------------------- Main ----------------------------  -->
    <main>
      <h1>History</h1>
      <input class="session-date-picker" type="date" />
      <div class="sessions">
        <p>No completed tennis sessions on this day.</p>
        <div class="session">
          <p class="session-name">Tennis Session</p>
          <p class="session-notes">Notes here...</p>
          <p class="session-date">DD-MM-YYYY</p>
        </div>
      </div>
    </main>
    <!-- --------------X------------- Main --------------X-------------  -->
  </body>
</html>
