{% extends 'base.html' %} 
{% block title %}History{% endblock %} 
{% block content %}
<h1>History</h1>
<input class="session-date-picker" type="date" />
<div class="sessions">
  <p>No completed tennis sessions on this day.</p>
  <div class="session">
    <p class="session-name">Tennis Session</p>
    <p class="session-notes">Notes here...</p>
    <p class="session-date">DD-MM-YYYY</p>
  </div>
</div>
{% endblock %}
{% block active_history %}current{% endblock %}
{% block page_id %}history{% endblock %}