<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SixLove | Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  </head>
  <body id="landing">
    <div class="auth-container">
      <!-- ---------------------------- Logo ----------------------------  -->
      <img
        class="logo"
        src="{% static 'images/SixLoveLogo.svg' %}"
        alt="Six Love Logo"
      />
      <!-- --------------X------------- Logo --------------X-------------  -->
      <!-- ---------------------------- Main ----------------------------  -->
      <p>Got what it takes to become a competitive tennis player?</p>
      <img
        class="landing-pic"
        src="{% static 'images/landing-pic.svg' %}"
        alt="The landing pic."
      />
      <p>Sign up and find out.</p>
      <!-- --------------X------------- Main --------------X-------------  -->
      <!-- ---------------------------- Actions Buttons ----------------------------  -->
      <div class="action-btns">
        <a href="{% url 'login' %}"><button>Login</button></a>
        <a href="{% url 'signup' %}"><button>Sign Up</button></a>
      </div>
      <!-- --------------X------------- Action Buttons --------------X-------------  -->
    </div>
  </body>
</html>
