{% extends 'base.html' %} 
{% block title %}Learn{% endblock %} 
{% block content %}
<h1 class="heading">Discover</h1>
      <!-- ---------------------------- Search Bar ----------------------------  -->
      <div class="search-bar">
        <div class="search-container">
          <input type="text" id="search-input" placeholder="Search..." />
          <button type="button" id="search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div class="filters">
          <button>Videos</button>
          <button>Articles</button>
          <button>How-Tos</button>
        </div>
      </div>
      <!-- --------------X------------- Search Bar --------------X-------------  -->
      <!-- ---------------------------- Search by Topic ----------------------------  -->
      <div class="search-by-topic">
        <p class="heading">Search by Topic</p>
        <div class="tags">
          <button>Forehand</button>
          <button>Backhand</button>
          <button>Serve</button>
          <button>Agility</button>
          <button>Return</button>
          <button>Volley</button>
        </div>
      </div>
      <!-- --------------X------------- Search by Topic --------------X-------------  -->
      <!-- ---------------------------- Featured Articles ----------------------------  -->
      <div class="featured-articles">
        <p class="heading">Featured Articles</p>
        <div class="articles">
          <div class="card">
            <div class="article-img-div"></div>
            <div class="card-body">
              <p class="article-date">Published DD-MM-YYYY</p>
              <p class="article-title card-text">Article Title</p>
            </div>
          </div>
          <div class="card">
            <div class="article-img-div"></div>
            <div class="card-body">
              <p class="article-date">Published DD-MM-YYYY</p>
              <p class="article-title card-text">Article Title</p>
            </div>
          </div>
          <div class="card">
            <div class="article-img-div"></div>
            <div class="card-body">
              <p class="article-date">Published DD-MM-YYYY</p>
              <p class="article-title card-text">Article Title</p>
            </div>
          </div>
        </div>
      </div>
      <!-- --------------X------------- Featured Articles --------------X-------------  -->
      <!-- ---------------------------- Tips / Hacks ----------------------------  -->
      <div class="tips-hacks">
        <p class="heading">Tips / Hacks</p>
        <div class="tips">
          <div class="card">
            <div class="tips-img-div"></div>
            <div class="card-body">
              <p class="tips-title card-text">Warming Up</p>
            </div>
          </div>
          <div class="card">
            <div class="tips-img-div"></div>
            <div class="card-body">
              <p class="tips-title card-text">Stretching</p>
            </div>
          </div>
          <div class="card">
            <div class="tips-img-div"></div>
            <div class="card-body">
              <p class="tips-title card-text">Cooling Down</p>
            </div>
          </div>
        </div>
      </div>
      <!-- --------------X------------- Tips / Hacks --------------X-------------  -->
      <!-- ---------------------------- Featured Tutorials ----------------------------  -->
      <div class="featured-tutorials">
        <p class="heading">Featured Tutorials</p>
        <div class="tutorials">
          <div class="card">
            <div class="tutorials-img-div"></div>
            <div class="card-body">
              <p class="tutorials-title card-text">Video Title</p>
            </div>
          </div>
          <div class="card">
            <div class="tutorials-img-div"></div>
            <div class="card-body">
              <p class="tutorials-title card-text">Video Title</p>
            </div>
          </div>
          <div class="card">
            <div class="tutorials-img-div"></div>
            <div class="card-body">
              <p class="tutorials-title card-text">Video Title</p>
            </div>
          </div>
        </div>
      </div>
      <!-- --------------X------------- Featured Tutorials --------------X-------------  -->
      {% endblock %}
      {% block active_learn %}current{% endblock %}
      {% block page_id %}learn{% endblock %}