{% extends 'base.html' %} 
{% block title %}Profile{% endblock %} 
{% load static %}
{% block extra_head %}<script src="{% static 'scripts/profile.js' %}" defer></script>{% endblock %}
{% block content %}
<!-- ---------------------------- Background ----------------------------  -->
<div class="background">
  <p>Background</p>
  <a data-bs-toggle="modal" data-bs-target="#SettingsMenu">
    <!-- <img src="{% static 'images/more-icon.svg' %}" alt="Settings Icon" /> -->
    <img
      src="{% static 'images/settings-icon.svg' %}"
      alt="Settings Icon"
    />
  </a>
</div>
<!-- --------------X------------- Background --------------X-------------  -->
<!-- ---------------------------- Profile Img Section ----------------------------  -->
<div class="profile-img-section">
  <img
    src="{% static 'images/dp-temp.png' %}"
    alt="Temporary Profile Pic"
  />
</div>
<!-- --------------X------------- Profile Img Section --------------X-------------  -->
<!-- ---------------------------- Profile Info Section ----------------------------  -->
<div class="profile-info-section">
  <div class="profile-info-follow-info profile-info-followers">
    <p>followers</p>
    <p class="count">34</p>
  </div>
  <div class="profile-info-follow-info profile-info-following">
    <p>following</p>
    <p class="count">18</p>
  </div>
</div>
<!-- --------------X------------- Profile Info Section --------------X-------------  -->
<!-- ---------------------------- Profile Bio Section ----------------------------  -->
<div class="profile-bio-section">
  <p class="profile-name">Name</p>
  <p class="profile-bio">Biography</p>
</div>
<!-- --------------X------------- Profile Bio Section --------------X-------------  -->
<!-- ---------------------------- Profile Toggle View Section ----------------------------  -->
<div class="show-toggle profile-toggle-view-section">
  <div class="toggle-btns">
    <button class="active btn-toggle-menu" id="display-posts-btn">
      <img
        src="{% static 'images/toggle-menu-icon.svg' %}"
        alt="Toggle menu icon"
      />
    </button>
    <span>|</span>
    <button class="btn-toggle-achievements" id="display-achievements-btn">
      <img
        src="{% static 'images/toggle-achievements-icon.svg' %}"
        alt="Toggle achievements icon"
      />
    </button>
  </div>
</div>
<!-- --------------X------------- Profile Toggle View Section --------------X-------------  -->
<!-- ---------------------------- Profile Post Grid Section ----------------------------  -->
<div class="profile-post-grid-section">
  <div class="posts-row">
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
  </div>
  <div class="posts-row">
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
  </div>
  <div class="posts-row">
    <div class="post"></div>
    <div class="post"></div>
    <div class="post"></div>
  </div>
</div>
<!-- --------------X------------- Profile Post Grid Section --------------X-------------  -->
<!-- ---------------------------- Profile Achievements Section ----------------------------  -->
<div class="hide-toggle profile-achievements-grid-section">
  <div class="award-box">
    <div class="award-pic"></div>
    <div class="award-info">
      <p class="award-name">Award name</p>
      <p class="award-desc">Award description goes here...</p>
      <p class="award-date">Awarded DD-MM-YYYY</p>
    </div>
  </div>
  <div class="award-box">
    <div class="award-pic"></div>
    <div class="award-info">
      <p class="award-name">Award name</p>
      <p class="award-desc">Award description goes here...</p>
      <p class="award-date">Awarded DD-MM-YYYY</p>
    </div>
  </div>
  <div class="award-box">
    <div class="award-pic"></div>
    <div class="award-info">
      <p class="award-name">Award name</p>
      <p class="award-desc">Award description goes here...</p>
      <p class="award-date">Awarded DD-MM-YYYY</p>
    </div>
  </div>
</div>
<!-- --------------X------------- Profile Achievements Section --------------X-------------  -->
<!-- ---------------------------- Settings Menu ----------------------------  -->
<!-- <div id="SettingsMenu" class="modal-dialog modal-fullscreen-sm-down">
  ...
</div> -->
<div id="SettingsMenu" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div id="settings-header" class="modal-header">
        <button
          id="settings-back-btn"
          type="button"
          class="btn"
          data-bs-dismiss="modal"
          aria-label="Back"
        >
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <p class="modal-title">Settings</p>
        <button
          type="button"
          class="btn-close d-none"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div id="settings-body" class="modal-body">
        <div class="settings-section">
          <div class="settings-div">
            <p>Training Days</p>
            <div>
              <span>Mon, Wed, Fri</span>
              <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
          <div class="settings-div">
            <p>Training Intensity</p>
            <div>
              <span>2 hours</span>
              <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
          <div class="settings-div">
            <p>Personal Goals</p>
            <div>
              <span>unset</span>
              <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
        <div class="settings-section">
          <div class="settings-div">
            <p>Notifications</p>
            <div>
              <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
          <div class="settings-div">
            <p>Account</p>
            <div>
              <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
        <div class="settings-section">
          <div class="settings-div">
            <p>Manage friends settings</p>
            <div>
              <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
          <div class="settings-div">
            <p>Privacy & Security</p>
            <div>
              <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
        <div class="settings-section">
          <div class="settings-div">
            <p>Dark mode</p>
            <div id="mode-switch" class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
            </div>
          </div>
          <div class="settings-div">
            <p>Feed back & Help Center</p>
            <div>
              <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
          <div class="settings-div">
            <p>About us</p>
            <div>
              <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="settings-footer">
        <p>SixLove <i class="fa-regular fa-copyright"></i></p>
      </div>
    </div>
  </div>
</div>
<!-- --------------X------------- Settings Menu --------------X-------------  -->
{% endblock %}
{% block active_profile %}current{% endblock %}
{% block page_id %}profile{% endblock %}