<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SixLove | Success</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body id="success">
    <div class="auth-container">
      <!-- ---------------------------- Logo ----------------------------  -->
      <img class="logo" src="./images/SixLoveLogo.svg" alt="Six Love Logo" />
      <!-- --------------X------------- Logo --------------X-------------  -->
      <!-- ---------------------------- Main ----------------------------  -->
      <p class="success-msg">Training plan created successfully!</p>
      <p class="success-celebration">🥳</p>
      <div class="action-btns">
        <a href="./tennis.html"><button>View Your Plan</button></a>
      </div>
    </div>
  </body>
</html>
