<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SixLove | {{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './registration/styles/styles.css' %}">
    {% block extra_styles %}{% endblock %}
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}">
        <h1>SixLove</h1>
      </a>
      <div class="auth">
        {% if user.is_authenticated %}
        <div class="logout">
          <p>Welcome, {{ user.username }}</p>
          <form class="auth-btns" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </div>
        {% else %}
        <div class="auth-btns login-btns">
          <a href="{% url 'login' %}"><button>Login</button></a>
          <a href="{% url 'signup' %}"><button>Sign Up</button></a>
        </div>
        {% endif %}
      </div>
    </header>
    <nav>
      {% if user.is_authenticated %}
        <a href="{% url 'tennis:tennis' %}">
          <img src="{% static './registration/images/tennis-page-icon.svg' %}" alt="Tennis Page">
        </a>
        <a href="{% url 'community:feed' %}">
          <img src="{% static './registration/images/feed-page-icon.svg' %}" alt="Feed Page">
        </a>
        <a href="{% url 'tennis:learn' %}">
          <img src="{% static './registration/images/learn-page-icon.svg' %}" alt="Learn Page">
        </a>
        <a href="{% url 'planner:calendar' %}">
          <img src="{% static './registration/images/calendar-page-icon.svg' %}" alt="Calendar Page">
        </a>
        <a href="{% url 'community:connect' %}">
          <img src="{% static './registration/images/connect-page-icon.svg' %}" alt="Connect Page">
        </a>
        <a href="{% url 'community:profile' %}">
          <img src="{% static './registration/images/profile-page-icon.svg' %}" alt="Profile Page">
        </a>
      {% endif %}
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
