{% extends './base.html' %} 
{% block content %}
<header style="background-color: #a992fa; padding: 16px;">
  <h1>Home</h1>
  <ul>
    <a href="{% url 'onboarding' %}">
      <li>Onboarding</li>
    </a>
  </ul>
  
    <div style="text-align: right; margin-top: -100px;">
      <div style="margin-top: 24px;">
        <a href="{% url 'login' %}"><button>Login</button></a>
        <a href="{% url 'signup' %}"><button>Sign Up</button></a>
      </div>
      <div>
        <form style="margin-top: 24px;" method="post" action="{% url 'logout' %}?next={% url 'home' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </div>
    </div>
</header>
<main style="padding: 16px;">
  <h2 >Welcome to SixLove</h2>
  <p>This is the home page for SixLove, and welcome and enjoy!</p>
</main>
{% endblock %}