{% extends './base.html' %} 
{% block content %}
<main id="home">
  {% if user.is_authenticated %}
  <!-- Filter Option -->
  <form method="get" class="filter-options">
    <label for="filter">Filter by:</label>
    <div class="filter-action-element">
      <select name="filter" id="filter">
        <option value="" {% if not filter_option %}selected{% endif %}>All</option>
        <option value="completed" {% if filter_option == 'completed' %}selected{% endif %}>
          Completed Sessions
        </option>
        <option value="not_completed" {% if filter_option == 'not_completed' %}selected{% endif %}>
          Uncompleted Sessions
        </option>
        <option value="upcoming" {% if filter_option == 'upcoming' %}selected{% endif %}>
          Upcoming Sessions
        </option>
        <option value="past" {% if filter_option == 'past' %}selected{% endif %}>
          Past Sessions
        </option>
      </select>
      <button type="submit">Apply Filter</button>
    </div>
  </form>


  <p style="display: none;" class="tennis-session-count">{{ tennis_sessions|length }}</p>
  <p style="display: none;" class="forehand-session-count">{{ forehand_sessions|length }}</p>
  <p style="display: none;" class="backhand-session-count">{{ backhand_sessions|length }}</p>
  <p style="display: none;" class="serve-session-count">{{ serve_sessions|length }}</p>
  <p style="display: none;" class="volley-session-count">{{ volley_sessions|length }}</p>
  <p style="display: none;" class="slice-session-count">{{ slice_sessions|length }}</p>
  <p style="display: none;" class="smash-session-count">{{ smash_sessions|length }}</p>
  <p style="display: none;" class="drop-shot-session-count">{{ drop_shot_sessions|length }}</p>
  <p style="display: none;" class="agility-session-count">{{ agility_sessions|length }}</p>
  <p style="display: none;" class="stamina-session-count">{{ stamina_sessions|length }}</p>
  <p style="display: none;" class="other-session-count">{{ other_sessions|length }}</p>

  <div>
    <canvas id="myChart"></canvas>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    (async function() {
      const ctx = document.getElementById('myChart');

      const data = [
        { 
          category: "All", 
          count: parseInt(document.querySelector(".tennis-session-count").innerText) 
        },
        { 
          category: "Forehand", 
          count: parseInt(document.querySelector(".forehand-session-count").innerText) 
        },
        { 
          category: "Backhand", 
          count: parseInt(document.querySelector(".backhand-session-count").innerText) 
        },
        { 
          category: "Serve", 
          count: parseInt(document.querySelector(".serve-session-count").innerText) 
        },
        { 
          category: "Volley", 
          count: parseInt(document.querySelector(".volley-session-count").innerText) 
        },
        { 
          category: "Slice", 
          count: parseInt(document.querySelector(".slice-session-count").innerText) 
        },
        { 
          category: "Smash", 
          count: parseInt(document.querySelector(".smash-session-count").innerText) 
        },
        { 
          category: "Drop Shot", 
          count: parseInt(document.querySelector(".drop-shot-session-count").innerText) 
        },
        { 
          category: "Agility", 
          count: parseInt(document.querySelector(".agility-session-count").innerText) 
        },
        { 
          category: "Stamina", 
          count: parseInt(document.querySelector(".stamina-session-count").innerText) 
        },
        { 
          category: "Other", 
          count: parseInt(document.querySelector(".other-session-count").innerText) 
        },
      ];


      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: data.map(row => row.category),
          datasets: [{
            label: 'Number of tennis sessions',
            data: data.map(row => row.count),
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    })();
  </script>
  {% else %}
  <h2 >Welcome to SixLove</h2>
  {% endif %}
</main>
{% endblock %}