<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SixLove | Welcome</title>
    <!-- Bootstrap -->
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script> -->
    <link rel="stylesheet" href="./styles/style.css" />
    <script src="./scripts/onboarding.js" defer></script>
  </head>
  <body id="onboarding">
    <div class="auth-container">
      <!-- ---------------------------- Logo ----------------------------  -->
      <img class="logo" src="./images/SixLoveLogo.svg" alt="Six Love Logo" />
      <!-- --------------X------------- Logo --------------X-------------  -->
      <!-- ---------------------------- Main ----------------------------  -->
      <!-- <form action="./success.html">
        <div>
          <p>How long would you like your training plan to be?</p>
          <div>
            <input type="button" value="RapidFire" />
            <span>6 weeks</span>
          </div>
          <input type="submit" value="ok" />
        </div>
      </form> -->
      <!-- onboarding.html -->
      <form id="onboardingForm" method="post" action="{% url 'onboarding' %}">
        {% csrf_token %}
        <div id="question1" class="question">
          <p>How long would you like your training plan to be?</p>
          {{ form.training_duration|render_buttons }}
          <button type="button" onclick="nextQuestion()">Next</button>
        </div>
        <div id="question2" class="question" style="display: none">
          <p>How often would you like to train?</p>
          {{ form.training_frequency|render_buttons }}
          <button type="button" onclick="nextQuestion()">Next</button>
        </div>
        <div id="question3" class="question" style="display: none">
          <p>What days would you like to train on?</p>
          {{ form.training_days|render_buttons }}
          <button type="button" onclick="nextQuestion()">Next</button>
        </div>
        <div id="question4" class="question" style="display: block">
          <p>Click the button to build your training plan.</p>
          <div class="form-btn-group">
            <button type="submit">Build My Plan</button>
            <span>You are so close!</span>
          </div>
        </div>
      </form>

      <!-- --------------X------------- Main --------------X-------------  -->
      <!-- ---------------------------- Actions Buttons ----------------------------  -->
      <div class="action-btns">
        <a href="./login.html"><button>Login</button></a>
        <a href="./signup.html"><button>Sign Up</button></a>
      </div>
      <!-- --------------X------------- Action Buttons --------------X-------------  -->
    </div>
  </body>
</html>
