<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SixLove | Onboarding</title>
    <link rel="stylesheet" href="./styles/style.css" />
    <script src="./scripts/onboarding.js" defer></script>
  </head>
  <body id="onboarding">
    <div class="auth-container">
      <!-- ---------------------------- Logo ----------------------------  -->
      <img class="logo" src="./images/SixLoveLogo.svg" alt="Six Love Logo" />
      <!-- --------------X------------- Logo --------------X-------------  -->
      <!-- ---------------------------- Main ----------------------------  -->
      <form id="onboardingForm" method="post" action="{% url 'onboarding' %}">
        <!-- {% csrf_token %} -->
        <div id="question1" class="question">
          <p>How long would you like your training plan to be?</p>
          <div class="form-btn-group">
            {{ form.training_duration|render_buttons }}
          </div>
          <button class="next-btn q1-btn" type="button">Next</button>
        </div>
        <div id="question2" class="question" style="display: none">
          <p>How often would you like to train?</p>
          <div class="form-btn-group">
            {{ form.training_frequency|render_buttons }}
          </div>
          <button class="next-btn q2-btn" type="button">Next</button>
        </div>
        <div id="question3" class="question" style="display: none">
          <p>What days would you like to train on?</p>
          <div class="form-btn-group">
            {{ form.training_days|render_buttons }}
          </div>
          <button class="next-btn q3-btn" type="button">Next</button>
        </div>
        <div id="question4" class="question" style="display: none">
          <p>Click the button to build your training plan.</p>
          <div class="form-btn-group">
            <button class="child-btn" type="submit">Build My Plan</button>
            <span>You are so close!</span>
          </div>
        </div>
      </form>

      <!-- --------------X------------- Main --------------X-------------  -->
    </div>
  </body>
</html>
