<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SixLove | {{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './community/styles/styles.css' %}">
    {% block extra_styles %}{% endblock %}
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="extended-nav">
        <h1>SixLove</h1>
        <ul>
          <a href="{% url 'home' %}">
            <li>Home</li>
          </a>
          <a href="{% url 'onboarding' %}">
            <li>Onboarding</li>
          </a>
          {% if user.is_authenticated %}
          <a href="{% url 'tennis:tennis' %}">
            <li>Tennis</li>
          </a>
          <a href="{% url 'tennis:learn' %}">
            <li>Learn</li>
          </a>
          <a href="{% url 'planner:calendar' %}">
            <li>Calendar</li>
          </a>
          <a href="{% url 'community:connect' %}">
            <li>Connect</li>
          </a>
          {% endif %}
        </ul>
      </div>

      <div class="auth">
        {% if user.is_authenticated %}
        <div class="logout">
          <p>Welcome, {{ user.username }}</p>
          <form class="auth-btns" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </div>
        {% else %}
        <div class="auth-btns login-btns">
          <a href="{% url 'login' %}"><button>Login</button></a>
          <a href="{% url 'signup' %}"><button>Sign Up</button></a>
        </div>
        {% endif %}
      </div>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
