{% extends '../registration/base.html' %} 
{% load static %} 
{% block extra_styles %}
<link rel="stylesheet" href="{% static './community/styles/styles.css' %}">
{% endblock %}
{% block content %}
<main id="connect">
  <h2>Connect</h2>
  <!-- Search Form -->
  <form class="search-form" action="" method="get">
    <input type="text" name="user-search" placeholder="Search users" value="{{ search_query }}">
    <button type="submit">Search</button>
  </form>

  <!-- Filter Option -->
  <form method="get" class="filter-options">
    <label for="filter">Filter by:</label>
    <div class="filter-action-element">
      <select name="filter" id="filter">
        <option value="" {% if not filter_option %}selected{% endif %}>All</option>
        <option value="last_posted" {% if filter_option == 'last_posted' %}selected{% endif %}>
          Last Posted
        </option>
        <option value="most_followers" {% if filter_option == 'most_followers' %}selected{% endif %}>
          Most Followers
        </option>
        <option value="most_posts" {% if filter_option == 'most_posts' %}selected{% endif %}>
          Most Posts
      </option>
      <option value="last_active" {% if filter_option == 'last_active' %}selected{% endif %}>
          Last Active
      </option>
      <option value="followers" {% if filter_option == 'followers' %}selected{% endif %}>
          Users following you
      </option>
      <option value="following" {% if filter_option == 'following' %}selected{% endif %}>
          Users you follow
      </option>
      </select>
      <button type="submit">Apply Filter</button>
    </div>
  </form>

  <div class="users">
    {% for user_profile_id, user_profile_data in user_profiles_data.items %}
    <a href="{% url 'community:user' user_profile_id=user_profile_id %}">
      <div class="user-info">
        <img class="user-photo" src="{{ user_profile_data.profile_picture }}" alt="" />
        <div class="user-dets">
          <p class="username">{{ user_profile_data.username }}</p>
          <p class="name">{{ user_profile_data.profile_name }}</p>
          {% if request_profile_id ==  user_profile_id%}
            <p class="following">Your profile</p>
          {% elif user_profile_data.is_following %}
            <p class="following">Following</p>
          {% else %}
            <p class="following">Not following</p>
          {% endif %}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</main>
{% endblock %}
