{% extends './base.html' %} 
{% load static %} 
{% block content %}
<main>
  <h2>Feed</h2>
  <div class="posts">
    <div class="post">
      <div class="post-img"></div>
      <div class="post-btns"></div>
      <div class="post-likes"></div>
      <div class="post-caption">
        <span class="username">username</span>
        <span class="caption-text">caption text will be placed...</span>
      </div>
      <div class="post-comments"></div>
      <div class="post-date"></div>
    </div>
  </div>
</main>
{% endblock %}
