{% extends './base.html' %} 
{% load static %} 
{% block scripts %}
<script src="{% static './community/scripts/toggle-like.js' %}" defer></script>
{% endblock %}
{% block content %}
<main id="feed">
  <h2>Feed</h2>
  <div class="posts">
    <div class="post">
      <div class="post-img"></div>
      <div class="post-btns">
        <button class="post-like-btn"><img src="{% static './community/images/like-icon.svg'%}" alt="like button"></button>
        <button class="post-comment-btn"><img src="{% static './community/images/comments-icon.svg'%}" alt="comment button"></button>
      </div>
      <div class="post-likes"><span class="like-count">124</span> likes</div>
      <div class="post-caption">
        <span class="username">username</span>
        <span class="caption-text">caption text will be placed...</span>
      </div>
      <div class="post-comments">View all 12 comments</div>
      <div class="post-date">2 days ago</div>
    </div>
    
    <div class="post">
      <div class="post-img"></div>
      <div class="post-btns">
        <button class="post-like-btn"><img src="{% static './community/images/like-icon.svg'%}" alt="like button"></button>
        <button class="post-comment-btn"><img src="{% static './community/images/comments-icon.svg'%}" alt="comment button"></button>
      </div>
      <div class="post-likes"><span class="like-count">124</span> likes</div>
      <div class="post-caption">
        <span class="username">username</span>
        <span class="caption-text">caption text will be placed...</span>
      </div>
      <div class="post-comments">View all 12 comments</div>
      <div class="post-date">2 days ago</div>
    </div>

    <div class="post">
      <div class="post-img"></div>
      <div class="post-btns">
        <button class="post-like-btn"><img src="{% static './community/images/like-icon.svg'%}" alt="like button"></button>
        <button class="post-comment-btn"><img src="{% static './community/images/comments-icon.svg'%}" alt="comment button"></button>
      </div>
      <div class="post-likes"><span class="like-count">124</span> likes</div>
      <div class="post-caption">
        <span class="username">username</span>
        <span class="caption-text">caption text will be placed...</span>
      </div>
      <div class="post-comments">View all 12 comments</div>
      <div class="post-date">2 days ago</div>
    </div>
  </div>
</main>
{% endblock %}
