{% extends './base.html' %} 
{% load static %} 
{% block scripts %}
<script src="{% static './community/scripts/toggle-posts.js' %}"></script>
{% endblock %}
{% block content %}
<main id="profile">
  <!-- <h2>Profile</h2> -->
  <div class="profile-top">
    <div class="profile-header">
      <div class="profile-photo">
        <img
          src="{% static './community/images/profile-pic-temp.png' %}"
          alt="Profile Photo"
        />
      </div>
      <div class="profile-username-action-btns">
        <p class="profile-username">thenoirespace</p>
        <div class="profile-action-btns">
          <button class="follow">Follow</button>
          <button class="message">Message</button>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="profile-name">The Noire Space</div>
      <div class="profile-bio">
        The Safe Haven for Black Women to express themselves, interact and be
        free!🖤🫶🏾 🥂Content on Self-discovery,Sisterhood and more. 👩🏾‍💻Find more
        below! ↙️
      </div>
    </div>

    <div class="followers-following">
      <div class="followers">
        <div class="follower-text ff-text">followers</div>
        <div class="follower-count ff-count">34</div>
      </div>
      <div class="following">
        <div class="following-text ff-text">following</div>
        <div class="following-count ff-count">18</div>
      </div>
    </div>
  </div>
  <div class="toggle-container">
    <div class="toggle-feed-view">
      <button class="posts-btn active">
        <img
          src="{% static './community/images/menu.png' %}"
          alt="Post menu icon"
        />
      </button>
      <button class="achievements-btn">
        <img
          src="{% static './community/images/achievements-icon.png' %}"
          alt="Achievements icon"
        />
      </button>
    </div>
  </div>
  <div class="feed">
    <div class="feed-post"></div>
    <div class="feed-post"></div>
    <div class="feed-post"></div>
    <div class="feed-post"></div>
    <div class="feed-post"></div>
    <div class="feed-post"></div>
  </div>

  <div class="achievements" style="display: none;">
    <div class="award">
      <div class="award-img"></div>
      <div class="award-info">
        <p class="award-name">Award Name</p>
        <p class="award-desc">Award description goes here...</p>
        <p class="award-date">Awarded DD-MM-YYYY</p>
      </div>
    </div>
    <div class="award">
      <div class="award-img"></div>
      <div class="award-info">
        <p class="award-name">Award Name</p>
        <p class="award-desc">Award description goes here...</p>
        <p class="award-date">Awarded DD-MM-YYYY</p>
      </div>
    </div>
    <div class="award">
      <div class="award-img"></div>
      <div class="award-info">
        <p class="award-name">Award Name</p>
        <p class="award-desc">Award description goes here...</p>
        <p class="award-date">Awarded DD-MM-YYYY</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
