{% extends './base.html' %} {% load static %} {% block content %}
<main id="profile">
  <!-- <h2>Profile</h2> -->
  <div class="profile-top">
    <div class="profile-header">
      <div class="profile-photo">
        <img
          src="{% static './community/images/profile-pic-temp.png' %}"
          alt="Profile Photo"
        />
      </div>
      <div class="profile-username-action-btns">
        <p class="profile-username">thenoirespace</p>
        <div class="profile-action-btns">
          <button class="follow">Follow</button>
          <button class="message">Message</button>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="profile-name">The Noire Space</div>
      <div class="profile-bio">
        The Safe Haven for Black Women to express themselves, interact and be
        free!🖤🫶🏾 🥂Content on Self-discovery,Sisterhood and more. 👩🏾‍💻Find more
        below! ↙️
      </div>
    </div>

    <div class="followers-following">
      <div class="followers">
        <div class="follower-text ff-text">followers</div>
        <div class="follower-count ff-count">34</div>
      </div>
      <div class="following">
        <div class="following-text ff-text">following</div>
        <div class="following-count ff-count">18</div>
      </div>
    </div>
  </div>
  <div class="toggle-feed-view">...</div>
  <div class="feed">
    <div class="feed-post">1</div>
    <div class="feed-post">2</div>
    <div class="feed-post">3</div>
    <div class="feed-post">4</div>
    <div class="feed-post">5</div>
    <div class="feed-post">6</div>
  </div>
</main>
{% endblock %}
