{% extends '../registration/base.html' %} 
{% load static %} 
{% block extra_styles %}
<link rel="stylesheet" href="{% static './community/styles/styles.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static './community/scripts/settings.js' %}" defer></script>
{% endblock %}
{% block content %}
<main id="settings">
  <div class="settings-header">
    <a class="back-to-profile-btn" href="{% url 'community:profile' %}">
      <img src="{% static './community/images/back-button-icon.svg' %}" alt="Profile Page">
    </a>
    <h2>Settings</h2>
    <a><span class="not-visible"></span></a>
  </div>
  <div class="setting-options">
    <div class="setting-block profile-settings-block">
      <p>Update profile</p>
      <p class="arrow-right">></p>
    </div>
  </div>
  <!-- Modal for creating a profile -->
  <div id="createProfileModal" class="modal">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal('#createProfileModal')">&times;</span>
      <div id="modalContent">
        <form action="" method="post" novalidate enctype="multipart/form-data">
          {% csrf_token %} 
          {{ form.as_p }}
          <input class="btn" type="submit" value="Create Profile" />
        </form>
      </div>
    </div>
  </div>
  <script>
    function closeModal(id) {
      const closeBtn = document.querySelector(id);
      closeBtn.style.display = "none";
    }
  </script>
</main>
{% endblock %}