{% extends '../registration/base.html' %} 
{% load static %} 
{% block extra_styles %}
<link rel="stylesheet" href="{% static './community/styles/styles.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static './community/scripts/settings.js' %}" defer></script>
{% endblock %}
{% block content %}
<main id="settings">
  <div class="settings-header">
    <a class="back-to-profile-btn" href="{% url 'community:profile' %}">
      <img src="{% static './community/images/back-button-icon.svg' %}" alt="Profile Page">
    </a>
    <h2>Settings</h2>
    <a><span class="not-visible"></span></a>
  </div>
  <div class="setting-options">
    <div class="setting-block profile-settings-block">
      <p>Edit profile</p>
      <p class="arrow-right">></p>
    </div>
    <div class="setting-block username-settings-block">
      <p>Edit username</p>
      <p class="arrow-right">></p>
    </div>
    <div class="setting-block name-settings-block">
      <p>Edit profile name</p>
      <p class="arrow-right">></p>
    </div>
    <div class="setting-block bio-settings-block">
      <p>Edit bio</p>
      <p class="arrow-right">></p>
    </div>
    <div class="setting-block dp-settings-block">
      <p>Edit profile picture</p>
      <p class="arrow-right">></p>
    </div>
  </div>
  <!-- Modal for editing a profile. -->
  <div id="editProfileModal" class="modal">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal('#editProfileModal')">&times;</span>
      <div id="modalContent">
        <form action="" method="post" novalidate enctype="multipart/form-data">
          {% csrf_token %} 
          {{ profile_form.as_p }}
          <input class="btn" type="submit" value="Edit Profile" name="edit-profile" />
        </form>
      </div>
    </div>
  </div>

  <!-- Modal for editing a user's username. -->
  <div id="editUsernameModal" class="modal">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal('#editUsernameModal')">&times;</span>
      <div id="modalContent">
        <form action="" method="post" novalidate enctype="multipart/form-data">
          {% csrf_token %} 
          {{ username_form.as_p }}
          <input class="btn" type="submit" value="Edit Username" name="edit-username" />
        </form>
      </div>
    </div>
  </div>

  <!-- Modal for editing a user's profile name. -->
  <div id="editProfileNameModal" class="modal">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal('#editProfileNameModal')">&times;</span>
      <div id="modalContent">
        <form action="" method="post" novalidate enctype="multipart/form-data">
          {% csrf_token %} 
          {{ name_form.as_p }}
          <input class="btn" type="submit" value="Edit Profile Name" name="edit-name" />
        </form>
      </div>
    </div>
  </div>

  <!-- Modal for editing a user's bio. -->
  <div id="editBioModal" class="modal">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal('#editBioModal')">&times;</span>
      <div id="modalContent">
        <form action="" method="post" novalidate enctype="multipart/form-data">
          {% csrf_token %} 
          {{ bio_form.as_p }}
          <input class="btn" type="submit" value="Edit Bio" name="edit-bio" />
        </form>
      </div>
    </div>
  </div>

  <!-- Modal for editing a user's profile picture. -->
  <div id="editDPModal" class="modal">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal('#editDPModal')">&times;</span>
      <div id="modalContent">
        <form action="" method="post" novalidate enctype="multipart/form-data">
          {% csrf_token %} 
          {{ dp_form.as_p }}
          <input class="btn" type="submit" value="Edit Profile Picture" name="edit-dp" />
        </form>
      </div>
    </div>
  </div>
  <script>
    function closeModal(id) {
      const closeBtn = document.querySelector(id);
      closeBtn.style.display = "none";
    }
  </script>
</main>
{% endblock %}