body#learn {
  main {
    padding: 0 32px;
    width: 100%;
    box-sizing: border-box;

    h1 {
      margin: 16px 0 32px 0;
    }

    .heading {
      font-size: 2rem;
      margin: 21px 0;
      color: $colour-black;
    }

    div.search-bar, div.search-by-topic,
    div.featured-articles, div.tips-hacks, div.featured-tutorials {
      margin-bottom: 48px;
    }

    div.search-bar, div.search-by-topic {
      div.search-container, div.tags, div.filters {
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        button {
          background-color: $colour-placeholder;
          border: 1px solid $colour-black;
          border-radius: 8px;
          padding: 8px 16px;

          font-weight: 500;
          font-size: 1.2rem;

          &:hover {
            cursor: pointer;
            background-color: $colour-input-hover;
          }
        }
      }
    }

    div.search-bar {
      display: flex;
      width: 100%;
      flex-direction: column;

      div.search-container {
        display: flex;
        margin-bottom: 16px;
        justify-content: center;
      }

      div.filters {
        text-align: center;
        margin-bottom: 36px;
      }

      div.filters, div.search-container {
        height: unset;

        button {
          font-size: 0.9rem;
          background-color: $colour-nav;
          border-radius: 24px;

          &:hover {
            background-color: $colour-input;
            cursor: pointer;
          }
        }

        #search-input {
          font-size: 0.9rem;
          padding: 8px 16px;
          border: 1px solid $colour-black;
          border-radius: 24px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          width: 30vw;
          min-width: 150px;
          max-width: 500px;
        }

        #search-button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-left: none;
          cursor: pointer;

          &:hover {
            background-color: $colour-input;
          }
        }
      }
    }

    p.heading {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .featured-articles, .tips-hacks,
    .featured-tutorials {
      .articles, .tips, .tutorials {
        display: flex;
        gap: 24px;
        overflow-x: scroll;

        .card {
          width: 18rem;
          min-width: 250px;

          border: 1px solid $colour-black;

          .article-img-div, .tips-img-div,
          .tutorials-img-div {
            height: 15vw;
            min-height: 286px;
            background-color: $colour-nav;
            border-bottom: 1px solid $colour-black;
            border-radius: 8px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;

            img {
              height: inherit;
              border-bottom: 1px solid $colour-black;
              object-fit: cover;
            }
          }

          .card-body {
            text-align: center;

            .article-date {
              font-weight: 300;
              font-size: 0.8rem;
            }

            .article-title, .tips-title,
            .tutorials-title {
              font-size: 1.2rem;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}