@mixin date-input() {
    padding: 12px 24px;
    background-color: $colour-input;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;

    &:hover {
      background-color: $colour-input-hover;
    }
}

@mixin btn-colour {
  background-color: $colour-green;
  border: 1px solid $colour-black;
  border-radius: 8px;
  padding: 8px 16px;

  &:hover {
    background-color: $colour-green-hover;
    cursor: pointer;
  }
}