{% extends '../registration/base.html' %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static './planner/styles/styles.css' %}">
{% endblock %}
{% block scripts %}
<!-- <script src="{% static './planner/scripts/calendar2.js' %}" defer></script> -->
{% endblock %}
{% block content %}
<main>
  <h2>Calendar</h2>
  <a href="{% url 'tennis:tennis' %}"
    ><button class="view-tennis-sessions-btn">View Tennis Sessions</button></a
  >

  <section class="calendar"></section>

</main>
{% endblock %}
